language: python

sudo: false

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
  - "pypy"
  - "pypy3"

matrix:
  allow_failures:
    - python: "nightly"
    - python: "pypy3"

install:
  - pip install codecov tox tox-travis

script:
  - tox

after_success:
  - codecov -e TOXENV

notifications:
  email: false

deploy:
  provider: pypi
  user: Bruno.Alla
  distributions: bdist_wheel sdist
  on:
    branch: master
    repo: browniebroke/deezer-python
    tags: true
    python: 2.7
  password:
    secure: gPn7phpAJc0WUAueMM4Drz4Uds/oYghLA8qiyG2GyFP5i2HnJiQDd+ZZVaSsLSVdiAubfR8RPBuKAbpZ3+g1RzHIiACNLh96G0q/rthytlPowxLxrI3c4BfjBTZ7qDdg1GzWcddrSAjKLN1v1OswuZZ7/T4YG7mdT8SMrLJq+8s=
