environment:

  matrix:

    - PYTHON: "C:\\Python35-x64"
      TOXENV: py35

    - PYTHON: "C:\\Python36-x64"
      TOXENV: py36

    - PYTHON: "C:\\Python37-x64"
      TOXENV: py37

init:
  - SET "PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

build: off

install:
  # Install tox to run tests
  - pip install tox

test_script:
  # Run the project tests
  - tox
