[tool.poetry]
name = "deezer-python"
version = "5.0.0"
description = "A friendly wrapper library for the Deezer API"
authors = ["Bruno Alla <alla.brunoo@gmail.com>"]
license = "MIT"
readme = "README.md"
keywords = ["deezer", "sdk", "client", "requests"]
repository = "https://github.com/browniebroke/deezer-python"
documentation = "https://deezer-python.readthedocs.io"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
packages = [
    { include = "deezer" },
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/browniebroke/deezer-python/issues"
"Changelog" = "https://deezer-python.readthedocs.io/en/latest/changelog.html"

[tool.poetry.dependencies]
python = "^3.7"
requests = ">=2.18"

# Docs deps:
myst-parser = {version = ">=0.16", optional = true}
sphinx = {version = ">=4.0", optional = true}
sphinx-autobuild = {version = ">=2021.0", optional = true}
sphinx-rtd-theme = {version = ">=1.0", optional = true}

[tool.poetry.extras]
docs = [
    "myst-parser",
    "sphinx",
    "sphinx-autobuild",
    "sphinx-rtd-theme",
]

[tool.poetry.dev-dependencies]
bandit = "^1.6"
black = {version = "^21.9b0", extras = ["jupyter"]}
coverage = "^6.0"
environs = "^9.3"
flake8 = "^4.0"
isort = "^5.6"
pytest = "^6.1"
pytest-cov = "^3.0"
pytest-mock = "^3.6"
pytest-vcr = "^1.0"
pyupgrade = "^2.7"
tox = "^3.20"
vcrpy = "^4.1"

[tool.pytest.ini_options]
addopts = "-v -Wdefault --cov=deezer"

[tool.semantic_release]
version_toml = "pyproject.toml:tool.poetry.version"
version_variable = "deezer/__init__.py:__version__"
branch = "main"
build_command = "pip install poetry && poetry build"

[tool.isort]
profile = "black"
known_first_party = "deezer"

[tool.coverage.run]
branch = true
source = ["deezer"]

[tool.coverage.report]
ignore_errors = true
exclude_lines = [
    "pragma: no cover",
    "@overload",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
