bandit
black; python_version > '3.5' and implementation_name != 'pypy'
bump2version
check-manifest
coverage
flake8
flake8-isort
isort; python_version > '3.5'
pytest
pytest-cov
pytest-vcr
pyupgrade; python_version > '3.5'
tox
twine; python_version > '3.5'
vcrpy
wheel
