interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/106/albums
  response:
    body:
      string: '{"data":[{"id":280993791,"title":"Dissid\u00e6nce Episode 2","link":"https:\/\/www.deezer.com\/album\/280993791","cover":"https:\/\/api.deezer.com\/album\/280993791\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/3dff70c6127863a1bb74ce0dc0772095\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/3dff70c6127863a1bb74ce0dc0772095\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/3dff70c6127863a1bb74ce0dc0772095\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/3dff70c6127863a1bb74ce0dc0772095\/1000x1000-000000-80-0-0.jpg","md5_image":"3dff70c6127863a1bb74ce0dc0772095","record_type":"album","tracklist":"https:\/\/api.deezer.com\/album\/280993791\/tracks","explicit_lyrics":false,"position":1,"artist":{"id":641,"name":"Vitalic","link":"https:\/\/www.deezer.com\/artist\/641","picture":"https:\/\/api.deezer.com\/artist\/641\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5e970ce2f5c52fe2b036f088eb4a7bef\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5e970ce2f5c52fe2b036f088eb4a7bef\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5e970ce2f5c52fe2b036f088eb4a7bef\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5e970ce2f5c52fe2b036f088eb4a7bef\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/641\/top?limit=50","type":"artist"},"type":"album"},{"id":265254682,"title":"All
        About Today","link":"https:\/\/www.deezer.com\/album\/265254682","cover":"https:\/\/api.deezer.com\/album\/265254682\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/e86e25a577a64f6f20512fd817db7722\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/e86e25a577a64f6f20512fd817db7722\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover[...]
