interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/0/artists
  response:
    body: {string: '{"data":[{"id":4087782,"name":"Lacrim","link":"https:\/\/www.deezer.com\/artist\/4087782","picture":"https:\/\/api.deezer.com\/artist\/4087782\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/133332a97ee5928b122b38f809bd0b91\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/133332a97ee5928b122b38f809bd0b91\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/133332a97ee5928b122b38f809bd0b91\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/133332a97ee5928b122b38f809bd0b91\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/4087782\/top?limit=50","position":1,"type":"artist"},{"id":13645509,"name":"Heuss
        L''enfoir\u00e9","link":"https:\/\/www.deezer.com\/artist\/13645509","picture":"https:\/\/api.deezer.com\/artist\/13645509\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c1950d01eb6f6100c1296fa4199329f7\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c1950d01eb6f6100c1296fa4199329f7\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\[...]
