interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/me/recommendations/albums?access_token=dummy
  response:
    body:
      string: '{"data":[{"id":260157992,"title":"My Universe","link":"https:\/\/www.deezer.com\/album\/260157992","cover":"https:\/\/api.deezer.com\/album\/260157992\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b9133002f605093482a187335b2dac24\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b9133002f605093482a187335b2dac24\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b9133002f605093482a187335b2dac24\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b9133002f605093482a187335b2dac24\/1000x1000-000000-80-0-0.jpg","md5_image":"b9133002f605093482a187335b2dac24","nb_tracks":3,"record_type":"single","tracklist":"https:\/\/api.deezer.com\/album\/260157992\/tracks","explicit_lyrics":false,"timestamp":1681306290,"artist":{"id":892,"name":"Coldplay","picture":"https:\/\/api.deezer.com\/artist\/892\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/e65d62ecd00b8bf1ba89073943ac62a1\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/e65d62ecd00b8bf1ba89073943ac62a1\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/e65d62ecd00b8bf1ba89073943ac62a1\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/e65d62ecd00b8bf1ba89073943ac62a1\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/892\/top?limit=50","type":"artist"},"type":"album"},{"id":107878672,"title":"The
        Fame Monster","link":"https:\/\/www.deezer.com\/album\/107878672","cover":"https:\/\/api.deezer.com\/album\/107878672\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/c55760982e2423bc9381f75a25548c41\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/c55760982e2423bc9381f75a25548c41\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cove[...]
