interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/me/recommendations/playlists?access_token=dummy
  response:
    body:
      string: '{"data":[{"id":1581126725,"title":"Acoustic Covers","public":true,"nb_tracks":50,"link":"https:\/\/www.deezer.com\/playlist\/1581126725","picture":"https:\/\/api.deezer.com\/playlist\/1581126725\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/cc9fb52affbd5ef96fa6de24014f8d05\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/cc9fb52affbd5ef96fa6de24014f8d05\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/cc9fb52affbd5ef96fa6de24014f8d05\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/cc9fb52affbd5ef96fa6de24014f8d05\/1000x1000-000000-80-0-0.jpg","checksum":"c1aebfb7fee9db7deae3fbd8d08027c7","tracklist":"https:\/\/api.deezer.com\/playlist\/1581126725\/tracks","creation_date":"0000-00-00
        00:00:00","md5_image":"cc9fb52affbd5ef96fa6de24014f8d05","picture_type":"playlist","user":{"id":753548415,"name":"Georges
        - Deezer Folk Editor","tracklist":"https:\/\/api.deezer.com\/user\/753548415\/flow","type":"user"},"type":"playlist"},{"id":1283464975,"title":"Chill
        Pop","public":true,"nb_tracks":50,"link":"https:\/\/www.deezer.com\/playlist\/1283464975","picture":"https:\/\/api.deezer.com\/playlist\/1283464975\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/77f762ffb7c643a3510ea0d0c3c2d691\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/77f762ffb7c643a3510ea0d0c3c2d691\/250x250-000000-80-0-0.jpg","picture_big":"h[...]
