interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/0/tracks
  response:
    body:
      string: '{"data":[{"id":1409072752,"title":"Bad Habits","title_short":"Bad Habits","title_version":"","link":"https:\/\/www.deezer.com\/track\/1409072752","duration":231,"rank":998193,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-e.dzcdn.net\/stream\/c-ec6a50a3edeb00ed5926935de2f2b01b-3.mp3","md5_image":"63af28b4e046c59293eaf313be13f8f7","position":1,"artist":{"id":384236,"name":"Ed
        Sheeran","link":"https:\/\/www.deezer.com\/artist\/384236","picture":"https:\/\/api.deezer.com\/artist\/384236\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/3a58adf62c522732a6d3a7f8806de0c3\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/3a58adf62c522732a6d3a7f8806de0c3\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/3a58adf62c522732a6d3a7f8806de0c3\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/3a58adf62c522732a6d3a7f8806de0c3\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/384236\/top?limit=50","type":"artist"},"album":{"id":238407992,"title":"Bad
        Habits","cover":"https:\/\/api.deezer.com\/album\/238407992\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/63af28b4e046c59293eaf313be13f8f7\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/63af28b4e046c59293eaf313be13f8f7\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/63af28b4e046c59293eaf313be13f8f7\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/63af28b4e046c59293eaf313be13f8f7\/1000x1000-000000-80-0-0.jpg","md5_image":"63af28b4e046c59293eaf313be13f8f7","tracklist":"https:\/\/api.deezer.com\/album\/238407992\/tracks","type":"album"},"type":"track"},{"id":1425844092,"title":"STAY","title_short":"STAY","title_version":"","link":"https:\/\/www.deezer.com\/track\/1425844092","duration":141,"rank":989040,"explicit_lyrics":true,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":[...]
