interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/me?access_token=token
  response:
    body:
      string: '{"id":"1234567890","name":"John Doe","link":"https:\/\/www.deezer.com\/profile\/1234567890","picture":"https:\/\/api.deezer.com\/user\/1234567890\/image","country": "FR","type":"user"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-37
    status:
      code: 200
      message: OK
version: 1
