interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search/playlist?q=Daft+Punk
  response:
    body:
      string: '{"data":[{"id":3133294742,"title":"100% Daft Punk","public":true,"nb_tracks":30,"link":"https:\/\/www.deezer.com\/playlist\/3133294742","picture":"https:\/\/api.deezer.com\/playlist\/3133294742\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/13dd303574e378d7b777135676b2ed88\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/13dd303574e378d7b777135676b2ed88\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/13dd303574e378d7b777135676b2ed88\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/13dd303574e378d7b777135676b2ed88\/1000x1000-000000-80-0-0.jpg","checksum":"2086cc649771e488a0aef0dce3650dc5","tracklist":"https:\/\/api.deezer.com\/playlist\/3133294742\/tracks","creation_date":"2017-05-17
        16:49:49","md5_image":"13dd303574e378d7b777135676b2ed88","picture_type":"playlist","user":{"id":1990304482,"name":"Deezer
        Artist Editor","tracklist":"https:\/\/api.deezer.com\/user\/1990304482\/flow","type":"user"},"type":"playlist"},{"id":1386208615,"title":"Pop
        Party","public":true,"nb_tracks":50,"link":"https:\/\/www.deezer.com\/playlist\/1386208615","picture":"https:\/\/api.deezer.com\/playlist\/1386208615\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/504266feba28e27e4f95ef85e890225b\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/504266feba28e27e4f95ef85e890225b\/250x250-000000-80-0-0.jpg","picture_big":"h[...]
