interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search?q=Billy+Jean&index=0&limit=2
  response:
    body: {string: '{"data":[{"id":2150059,"readable":true,"title":"Jean-Mich Much","title_short":"Jean-Mich
        Much","title_version":"","link":"https:\/\/www.deezer.com\/track\/2150059","duration":226,"rank":375961,"explicit_lyrics":false,"explicit_content_lyrics":6,"explicit_content_cover":6,"preview":"https:\/\/cdns-preview-c.dzcdn.net\/stream\/c-cbd335f4824fba94c2a3003b162be2ba-7.mp3","artist":{"id":672,"name":"Billy
        Ze Kick et les Gamins en Folie","link":"https:\/\/www.deezer.com\/artist\/672","picture":"https:\/\/api.deezer.com\/artist\/672\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/672\/top?limit=50","type":"artist"},"album":{"id":215350,"title":"Billy
        Ze Kick Et Les Gamins En Folie","cover":"https:\/\/api.deezer.com\/album\/215350\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/96a79391e6d3698961fcaf7c928e27af\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/96a79391e6d3698961fcaf7c928e27af\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/96a79391e6d3698961fcaf7c928e27af\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/96a79391e6d3698961fcaf7c928e27af\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/album\/215350\/tracks","type":"album"},"type":"track"},{"id":378181481,"readable":true,"title":"None
        Of Us Are Free","title_short":"None Of Us Are Free","title_version":"","link":"https:\/\/www.deezer.com\/track\/378181481","duration":329,"rank":409185,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"previe[...]
