interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/359622
  response:
    body:
      string: '{"id":359622,"name":"Bruno Alla","link":"https:\/\/www.deezer.com\/profile\/359622","picture":"https:\/\/api.deezer.com\/user\/359622\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/1000x1000-000000-80-0-0.jpg","country":"DE","tracklist":"https:\/\/api.deezer.com\/user\/359622\/flow","type":"user"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-126
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/359622/albums
  response:
    body:
      string: '{"data":[{"id":236951,"title":"A Century Of Movie Soundtracks Vol.
        2","link":"https:\/\/www.deezer.com\/album\/236951","cover":"https:\/\/api.deezer.com\/album\/236951\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/ab31c5151ec6ab64d69b4fe7da1a108e\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/ab31c5151ec6ab64d69b4fe7da1a108e\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/ab31c5151ec6ab64d69b4fe7da1a108e\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/ab31c5151ec6ab64d69b4fe7da1a108e\/1000x1000-000000-80-0-0.jpg","nb_tracks":19,"release_date":"2008-10-15","record_type":"album","available":true,"tracklist":"https:\/\/api.deezer.com\/album\/236951\/tracks","explicit_lyrics":false,"time_add":1338501600,"artist":{"id":148332,"name":"A
        Century Of Movie Soundtracks","picture":"https:\/\/api.deezer.com\/artist\/148332\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/1000x1000-000000-80-0-0.[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/846571671/albums?index=25
  response:
    body:
      string: '{"data":[{"id":13748694,"title":"Senegambia Rebel","link":"https:\/\/www.deezer.com\/album\/13748694","cover":"https:\/\/api.deezer.com\/album\/13748694\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/d94e62f41498d5da37c1dd8a0beaec17\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/c[...]
[...]
