interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search?q=artist%3A%22Lou+Doillon%22+album%3A%22Lay+Low%22
  response:
    body:
      string: '{"data":[{"id":109213576,"readable":true,"title":"Where To Start","title_short":"Where
        To Start","title_version":"","link":"https:\/\/www.deezer.com\/track\/109213576","duration":166,"rank":579746,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-7.dzcdn.net\/stream\/c-7107c0d16fdb34b289b59716c46b9f8a-8.mp3","md5_image":"2fc675e8586a75061da8bbd21a125b50","artist":{"id":1701297,"name":"Lou
        Doillon","link":"https:\/\/www.deezer.com\/artist\/1701297","picture":"https:\/\/api.deezer.com\/artist\/1701297\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bb461ed99b3de8c83959069d81af5e17\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bb461ed99b3de8c83959069d81af5e17\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bb461ed99b3de8c83959069d81af5e17\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bb461ed99b3de8c83959069d81af5e17\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/1701297\/top?limit=50","type":"artist"},"album":{"id":11380062,"title":"Lay
        Low","cover":"https:\/\/api.deezer.com\/album\/11380062\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/2fc675e8586a75061da8bbd21a125b50\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/2fc675e8586a75061da8bbd21a125b50\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/2fc675e8586a75061da8bbd21a125b50\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/2fc675e8586a75061da8bbd21a125b50\/1000x1000-000000-80-0-0.jpg","md5_image":"2fc675e8586a75061da8bbd21a125b50","tracklist":"https:\/\/api.deezer.com\/album\/11380062\/tracks","type":"album"},"type":"track"},{"id":109213572,"readable":true,"title":"Left
        Behind","title_short":"Left Behind","title_version":"","link":"https:\/\/www.deezer.com\/track\/109213572","duration":173,"rank":466028,"explicit_lyrics":false,"explicit_content_lyrics":0,"[...]
