interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/106/artists
  response:
    body:
      string: '{"data":[{"id":5400149,"name":"Polo & Pan","link":"https:\/\/www.deezer.com\/artist\/5400149","picture":"https:\/\/api.deezer.com\/artist\/5400149\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/9f2450de82d23bd7d860f4670f3450df\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/9f2450de82d23bd7d860f4670f3450df\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/9f2450de82d23bd7d860f4670f3450df\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/9f2450de82d23bd7d860f4670f3450df\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/5400149\/top?limit=50","position":1,"type":"artist"},{"id":5992092,"name":"Kungs","link":"https:\/\/www.deezer.com\/artist\/5992092","picture":"https:\/\/api.deezer.com\/artist\/5992092\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/eb2c688228e2702844904ac7a23e9a60\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/eb2c688228e2702844904ac7a23e9a60\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/eb2c688228e2702844904ac7a2[...]
