interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/radio/23261
  response:
    body: {string: '{"id":23261,"title":"Telegraph Classical","description":"Telegraph
        Classical","share":"https:\/\/www.deezer.com\/mixes\/genre\/23261?utm_source=deezer&utm_content=mixes-genre-23261&utm_term=0_1549975187&utm_medium=web","picture":"https:\/\/api.deezer.com\/radio\/23261\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/aad5b7e9ecd6e72e6171c9e65ddf150d\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/aad5b7e9ecd6e72e6171c9e65ddf150d\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/aad5b7e9ecd6e72e6171c9e65ddf150d\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/aad5b7e9ecd6e72e6171c9e65ddf150d\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/radio\/23261\/tracks","type":"radio"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Host: [blm-web-31]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/radio/23261/tracks
  response:
    body: {string: '{"data":[{"id":6951625,"readable":true,"title":"St. John Passion,
        BWV 245 \/ Part Two : No.30 Aria (Alt): \" Es ist vollbracht \"","title_short":"St.
        John Passion, BWV 245 \/ Part Two : No.30 Aria (Alt): \" Es ist vollbracht
        \"","title_version":"","link":"https:\/\/www.deezer.com\/track\/6951625","duration":320,"rank":137512,"explicit_lyrics":false,"explicit_content_lyrics":6,"explicit_content_cover":6,"preview":"https:\/\/cdns-preview-5.dzcdn.net\/stream\/c-54377e1c879910e188f5869b1c69f764-5.mp3","artist":{"id":441866,"name":"English
        Baroque Soloists","link":"https:\/\/www.deezer.com\/artist\/441866","picture":"https:\/\/api.deezer.com\/artist\/441866\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/441866\/top?limit=50","type":"artist"},"album":{"id":641624,"title":"Bach:
        St. John Passion - Arias & Choruses","cover":"https:\/\/api.deezer.com\/album\/641624\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/79b394bbb27ceb01b5d6502237bf60bf\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/79b394bbb27ceb01b5d6502237bf60bf\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/79b394bbb27ceb01b5d6502237bf60bf\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/79b394bbb27ceb01b5d6502237bf60bf\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/album\/641624\/tracks","type":"album"},"type":"track"},{"id":3418723,"readable":true,"title":"Piano
        Concerto No. 21 in C K467: II. Andante","title_short":"Piano Concerto No.
        21 in C K467: II. Andante","title_version":"","link":"https:\/\/www.deezer.com\/track\/3418723","duration":472,"rank":496867,"explicit_lyrics":false,"explici[...]
