interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/artist/27
  response:
    body:
      string: '{"id":27,"name":"Daft Punk","link":"https:\/\/www.deezer.com\/artist\/27","share":"https:\/\/www.deezer.com\/artist\/27?utm_source=deezer&utm_content=artist-27&utm_term=0_1597603550&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/27\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/1000x1000-000000-80-0-0.jpg","nb_album":33,"nb_fan":3820402,"radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/27\/top?limit=50","type":"artist"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-83
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/artist/27/albums
  response:
    body:
      string: '{"data":[{"id":6575789,"title":"Random Access Memories","link":"https:\/\/www.deezer.com\/album\/6575789","cover":"https:\/\/api.deezer.com\/album\/6575789\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b298094528702627877720d0be4448b5\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b298094528702627877720d0be4448b5\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b298094528702627877720d0be4448b5\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b298094528702627877720d0be4448b5\/1000x1000-000000-80-0-0.jpg","genre_id":132,"fans":754473,"release_date":"2013-05-17","record_type":"album","tracklist":"https:\/\/api.deezer.com\/album\/6575789\/tracks","explicit_lyrics":false,"type":"album"},{"id":936927,"title":"TRON
        Legacy: Reconfigured","link":"https:\/\/www.deezer.com\/album\/936927","cover":"https:\/\/api.deezer.com\/album\/936927\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/0ccd883386360849fa115e65cd795a20\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/0ccd883386360849fa115e65cd795a20\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/0ccd883386360849fa115e65cd795a20\/500x500-000000-80-0-0.jpg","cov[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/artist/27/albums?index=25
  response:
    body:
      string: '{"data":[{"id":303165,"title":"Technologic","link":"https:\/\/www.deezer.com\/album\/303165","cover":"https:\/\/api.deezer.com\/album\/303165\/image","cover_small":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/c139f190f4d55df305e96add35075710\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/c139f190f4d55d[...]
