interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/0/albums
  response:
    body:
      string: '{"data":[{"id":264785262,"title":"Music Of The Spheres","link":"https:\/\/www.deezer.com\/album\/264785262","cover":"https:\/\/api.deezer.com\/album\/264785262\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1abb9a47ab25986493537b08f00c57d3\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1abb9a47ab25986493537b08f00c57d3\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1abb9a47ab25986493537b08f00c57d3\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1abb9a47ab25986493537b08f00c57d3\/1000x1000-000000-80-0-0.jpg","md5_image":"1abb9a47ab25986493537b08f00c57d3","record_type":"album","tracklist":"https:\/\/api.deezer.com\/album\/264785262\/tracks","explicit_lyrics":true,"position":1,"artist":{"id":892,"name":"Coldplay","link":"https:\/\/www.deezer.com\/artist\/892","picture":"https:\/\/api.deezer.com\/artist\/892\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/e65d62ecd00b8bf1ba89073943ac62a1\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/e65d62ecd00b8bf1ba89073943ac62a1\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/e65d62ecd00b8bf1ba89073943ac62a1\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/e65d62ecd00b8bf1ba89073943ac62a1\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/892\/top?limit=50","type":"artist"},"type":"album"},{"id":236271522,"title":"Sticky","link":"https:\/\/www.deezer.com\/album\/236271522","cover":"https:\/\/api.deezer.com\/album\/236271522\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/9e07cc7790c72dfbe572eeaf33784d48\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/9e07cc7790c72dfbe572eeaf33784d48\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/9e07cc7790c72df[...]
