interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/genre/106
  response:
    body:
      string: '{"id":106,"name":"Electro","picture":"https:\/\/api.deezer.com\/genre\/106\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/1000x1000-000000-80-0-0.jpg","type":"genre"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-37
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/genre/106/radios
  response:
    body:
      string: '{"data":[{"id":37635,"title":"Electro Swing","picture":"https:\/\/api.deezer.com\/radio\/37635\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/762e50c15b341c24a32ab96958444b3b\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/762e50c15b341c24a32ab96958444b3b\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/762e50c15b341c24a32ab96958444b3b\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/762e50c15b341c24a32ab96958444b3b\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/radio\/37635\/tracks","type":"radio"},{"id":38215,"title":"Dubstep","picture":"https:\/\/api.deezer.com\/radio\/38215\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/8a9fd18823a1f9ab362f102f425603ba\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/8a9fd18823a1f9ab362f102f425603ba\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/8a9fd18823a1f9ab362f102f425603[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/genre/106/radios?index=0
  response:
    body:
      string: '{"data":[{"id":37635,"title":"Electro Swing","picture":"https:\/\/api.deezer.com\/radio\/37635\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/34ad00fadcf9ac34c202dd9c9d1005f1\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/34ad00fadcf9ac34c202dd9c9d1005f1\/250x250-000000-80-0-0.[...]
