interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/radio
  response:
    body: {string: '{"data":[{"id":37151,"title":"Hits","picture":"https:\/\/api.deezer.com\/radio\/37151\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/misc\/dc26da8141ed1f3605544fc7aca2696b\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/misc\/dc26da8141ed1f3605544fc7aca2696b\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/misc\/dc26da8141ed1f3605544fc7aca2696b\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-images.dzcdn.net\/images\/misc\/dc26da8141ed1f3605544fc7aca2696b\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/radio\/37151\/tracks","type":"radio"},{"id":30771,"title":"Indie","picture":"https:\/\/api.deezer.com\/radio\/30771\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/misc\/a37783bc56e07a48aa94a14870c6f57f\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/misc\/a37783bc56e07a48aa94a14870c6f57f\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/misc\/a37783bc56e07a48aa94a14870c6f57f\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-imag[...]
