interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/359622
  response:
    body:
      string: '{"id":359622,"name":"Bruno Alla","link":"https:\/\/www.deezer.com\/profile\/359622","picture":"https:\/\/api.deezer.com\/user\/359622\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/1000x1000-000000-80-0-0.jpg","country":"DE","tracklist":"https:\/\/api.deezer.com\/user\/359622\/flow","type":"user"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-49
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/359622/artists
  response:
    body:
      string: '{"data":[{"id":243,"name":"Wax Tailor","link":"https:\/\/www.deezer.com\/artist\/243","picture":"https:\/\/api.deezer.com\/artist\/243\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/0287d2f13a316b41e7714c714949a86f\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/0287d2f13a316b41e7714c714949a86f\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/0287d2f13a316b41e7714c714949a86f\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/0287d2f13a316b41e7714c714949a86f\/1000x1000-000000-80-0-0.jpg","nb_album":17,"nb_fan":200625,"radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/243\/top?limit=50","time_add":1258243200,"type":"artist"},{"id":641,"name":"Vitalic","link":"https:\/\/www.deezer.com\/artist\/641","picture":"https:\/\/api.deezer.com\/artist\/641\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/40e4c29fc2c05da589f7d8bba4d25c35\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/40e4c29fc2c05da589f7d8bba4d25c35\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/40e4c29fc2c05da589f7d8bb[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/353978015/artists?index=25
  response:
    body:
      string: '{"data":[{"id":13338,"name":"Charles Gounod","link":"https:\/\/www.deezer.com\/artist\/13338","picture":"https:\/\/api.deezer.com\/artist\/13338\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/ad934decea8fea0d9f8e4bb130a69eef\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/artist\[...]
[...]
