interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search/album?q=Daft+Punk&index=0&limit=25
  response:
    body: {string: '{"data":[{"id":6575789,"title":"Random Access Memories","link":"https:\/\/www.deezer.com\/album\/6575789","cover":"https:\/\/api.deezer.com\/album\/6575789\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b298094528702627877720d0be4448b5\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b298094528702627877720d0be4448b5\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b298094528702627877720d0be4448b5\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b298094528702627877720d0be4448b5\/1000x1000-000000-80-0-0.jpg","genre_id":106,"nb_tracks":13,"record_type":"album","tracklist":"https:\/\/api.deezer.com\/album\/6575789\/tracks","explicit_lyrics":false,"artist":{"id":27,"name":"Daft
        Punk","link":"https:\/\/www.deezer.com\/artist\/27","picture":"https:\/\/api.deezer.com\/artist\/27\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/27\/top?limit=50","type":"artist"},"type":"album"},{"id":302127,"title":"Discovery","link":"https:\/\/www.deezer.com\/album\/302127","cover":"https:\/\/api.deezer.com\/album\/302127\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/2e018122cb56986277102d2041a592c8\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/2e018122cb56986277102d2041a592c8\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/2e018122cb56986277102[...]
[...]
