interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/editorial/0
  response:
    body:
      string: '{"id":0,"name":"All","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/\/1000x1000-000000-80-0-0.jpg","type":"editorial"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-12
    status:
      code: 200
      message: OK
version: 1
