interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/106/playlists
  response:
    body:
      string: '{"data":[{"id":1561798251,"title":"Chill tranquille","public":true,"nb_tracks":50,"link":"https:\/\/www.deezer.com\/playlist\/1561798251","picture":"https:\/\/api.deezer.com\/playlist\/1561798251\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/73b087bea582833c185ce03962d78c02\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/73b087bea582833c185ce03962d78c02\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/73b087bea582833c185ce03962d78c02\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/73b087bea582833c185ce03962d78c02\/1000x1000-000000-80-0-0.jpg","checksum":"f38d0c386daf4db5cfef425277c26f19","tracklist":"https:\/\/api.deezer.com\/playlist\/1561798251\/tracks","creation_date":"2016-01-12
        11:49:01","md5_image":"73b087bea582833c185ce03962d78c02","picture_type":"playlist","user":{"id":335481371,"name":"Gil
        - Deezer Editeur France","tracklist":"https:\/\/api.deezer.com\/user\/335481371\/flow","type":"user"},"type":"playlist"},{"id":2055454184,"title":"House
        Motivation","public":true,"nb_tracks":50,"link":"https:\/\/www.deezer.com\/playlist\/2055454184","picture":"https:\/\/api.deezer.com\/playlist\/2055454184\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/2c55ad0aa9ea63210f3da86d0126bda0\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/2c55ad0aa9ea63210f3da86d0126bda0\/250x250-000000-80-0-0.jpg","picture_[...]
