interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/0/albums
  response:
    body: {string: '{"data":[{"id":86473532,"title":"Lacrim","cover":"https:\/\/api.deezer.com\/album\/86473532\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/e59619df8fafabde84431bb6183c3001\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/e59619df8fafabde84431bb6183c3001\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/e59619df8fafabde84431bb6183c3001\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/e59619df8fafabde84431bb6183c3001\/1000x1000-000000-80-0-0.jpg","record_type":"album","tracklist":"https:\/\/api.deezer.com\/album\/86473532\/tracks","explicit_lyrics":true,"position":1,"artist":{"id":4087782,"name":"Lacrim","link":"https:\/\/www.deezer.com\/artist\/4087782","picture":"https:\/\/api.deezer.com\/artist\/4087782\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/133332a97ee5928b122b38f809bd0b91\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/133332a97ee5928b122b38f809bd0b91\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/133332a97ee5928b122b38f809bd0b91\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/133332a97ee5928b122b38f809bd0b91\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/4087782\/top?limit=50","type":"artist"},"type":"album"},{"id":85084202,"title":"En
        esprit","cover":"https:\/\/api.deezer.com\/album\/85084202\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/6106f9b0084433aea99b35dfd1d4f8bd\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/6106f9b0084433aea99b35dfd1d4f8bd\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/6106f9b0084433aea99b35dfd1d4f8bd\/500x500-000000-80-0-0.jp[...]
