interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/podcast/699612
  response:
    body:
      string: '{"id":699612,"title":"The Missing Cryptoqueen","description":"Dr Ruja
        Ignatova persuaded millions to join her financial revolution. Then she disappeared.
        Why? Jamie Bartlett presents a story of greed, deceit and herd madness.","available":true,"rating":0,"fans":159,"link":"https:\/\/www.deezer.com\/show\/699612","share":"https:\/\/www.deezer.com\/show\/699612?utm_source=deezer&utm_content=show-699612&utm_term=0_1597915624&utm_medium=web","picture":"https:\/\/cdns-images.dzcdn.net\/images\/talk\/34df19abb7d60668cf967d1d866943b3\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/talk\/34df19abb7d60668cf967d1d866943b3\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/talk\/34df19abb7d60668cf967d1d866943b3\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/talk\/34df19abb7d60668cf967d1d866943b3\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-images.dzcdn.net\/images\/talk\/34df19abb7d60668cf967d1d866943b3\/1000x1000-000000-80-0-0.jpg","type":"podcast"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-148
    status:
      code: 200
      message: OK
version: 1
