interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/0/playlists
  response:
    body: {string: '{"data":[{"id":53362031,"title":"Les titres du moment","public":true,"nb_tracks":70,"link":"https:\/\/www.deezer.com\/playlist\/53362031","picture":"https:\/\/api.deezer.com\/playlist\/53362031\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/a7945ddc3acc208925673a73005ccf0c\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/a7945ddc3acc208925673a73005ccf0c\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/a7945ddc3acc208925673a73005ccf0c\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/a7945ddc3acc208925673a73005ccf0c\/1000x1000-000000-80-0-0.jpg","checksum":"7a4de0618165ed57866386aa78b0861d","tracklist":"https:\/\/api.deezer.com\/playlist\/53362031\/tracks","creation_date":"2017-05-17
        10:12:00","user":{"id":335481371,"name":"Gil - Programmateur France","tracklist":"https:\/\/api.deezer.com\/user\/335481371\/flow","type":"user"},"type":"playlist"},{"id":3272614282,"title":"Rapstars","public":true,"nb_tracks":50,"link":"https:\/\/www.deezer.com\/playlist\/3272614282","picture":"https:\/\/api.deezer.com\/playlist\/3272614282\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/4ae547737993aa7458489dc75999e112\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/4ae547737993aa7458489dc75999e112\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/[...]
