interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/playlist/908622995
  response:
    body: {string: '{"id":908622995,"title":"Bain moussant","description":"Occupez-vous
        du bain moussant, on s''occupe de la playlist ! Si vous \u00eates partis pour
        une douche, \u00e7a se passe ici : http:\/\/dzr.fm\/ChanterSousLaDouche","duration":13733,"public":true,"is_loved_track":false,"collaborative":false,"nb_tracks":60,"fans":18005,"link":"https:\/\/www.deezer.com\/playlist\/908622995","share":"https:\/\/www.deezer.com\/playlist\/908622995?utm_source=deezer&utm_content=playlist-908622995&utm_term=0_1549974516&utm_medium=web","picture":"https:\/\/api.deezer.com\/playlist\/908622995\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/playlist\/ab3f20e067ccca71c815e663139f07a1\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/playlist\/ab3f20e067ccca71c815e663139f07a1\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/playlist\/ab3f20e067ccca71c815e663139f07a1\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-images.dzcdn.net\/images\/playlist\/ab3f20e067ccca71c815e663139f07a1\/1000x1000-000000-80-0-0.jpg","checksum":"345149e35cb0c39370d45615603f929b","tracklist":"https:\/\/api.deezer.com\/playlist\/908622995\/tracks","creation_date":"2014-06-27
        09:09:31","creator":{"id":1687950,"name":"Deezer France Editors","tracklist":"https:\/\/api.deezer.com\/user\/1687950\/flow","type":"user"},"type":"playlist","tracks":{"data":[{"id":510591562,"readable":true,"title":"Sonora","title_short":"Sonora","title_version":"","link":"https:\/\/www.deezer.com\/track\/510591562","duration":199,"rank":693304,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-1.dzcdn.net\/stream\/c-1ad164cac1e0a3e2091e60eaff5cbdb2-3.mp3","time_add":1530283958,"artist":{"id":1431036,"name":"Else","link":"https:\/\/www.deezer.com\/artist\/1431036","tracklist":"https:\/\/api.deezer.com\/artist\/1431036\/top?limit=50","type":"artist"},"album":{"id":65405702,"title":"Sonora","cover":"https:\/\/api.deezer.com\/album\/65405702\/image","cover_small":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/e7afc8bc62237bb54018e1f35f42a0b1\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/e7afc8bc62237bb54018e1f35f42a0b1\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/e7afc8bc62237bb54018e1f35f42a0b1\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/e7afc8bc62237bb54018e1f35f42a0b1\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/album\/65405702\/tracks","type":"album"},"type":"track"},{"id":515059572,"readable":true,"title":"Raisonner","title_short":"Raisonner","title_version":"","link":"https:\/\/www.deezer.com\/track\/515059572","duration":130,"rank":466951,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-d[...]
