interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/editorial/106
  response:
    body:
      string: '{"id":106,"name":"Electro","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/1000x1000-000000-80-0-0.jpg","type":"editorial"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-123
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/editorial/106/releases
  response:
    body:
      string: '{"data":[{"id":290696112,"title":"Girls","cover":"https:\/\/api.deezer.com\/album\/290696112\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/12898a960aca1850e688eb1d2a651c7a\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/12898a960aca1850e688eb1d2a651c7a\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/12898a960aca1850e688eb1d2a651c7a\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/12898a960aca1850e688eb1d2a651c7a\/1000x1000-000000-80-0-0.jpg","md5_image":"12898a960aca1850e688eb1d2a651c7a","release_date":"2022-01-31","tracklist":"https:\/\/api.deezer.com\/album\/290696112\/tracks","artist":{"id":158678802,"name":"Burg
        (FR)","tracklist":"https:\/\/api.deezer.com\/artist\/158678802\/top?limit=50","type":"artist"},"type":"album"},{"id":291978162,"title":"Tabasse
        vol.1","cover":"https:\/\/api.deezer.com\/album\/291978162\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/979f73ffd4ec0dd19b06d3b344974a7b\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/979f73ffd4ec0dd19b06d3b344974a7b\/250x250-000000-80-0-[...]
