interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/radio
  response:
    body:
      string: '{"data":[{"id":37151,"title":"Hits","picture":"https:\/\/api.deezer.com\/radio\/37151\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/235ec47f2b21c3c73e02fce66f56ccc5\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/235ec47f2b21c3c73e02fce66f56ccc5\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/235ec47f2b21c3c73e02fce66f56ccc5\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/235ec47f2b21c3c73e02fce66f56ccc5\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/radio\/37151\/tracks","md5_image":"235ec47f2b21c3c73e02fce66f56ccc5","type":"radio"},{"id":30771,"title":"Indie","picture":"https:\/\/api.deezer.com\/radio\/30771\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/5dfdae5fdb147623ed11a2513074a970\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/5dfdae5fdb147623ed11a2513074a970\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/5dfdae5fdb147623ed11a2513074a970\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-c[...]
