interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search?index=0&limit=25&q=album%3A%22Lay+Low%22+artist%3A%22Lou+Doillon%22
  response:
    body: {string: '{"data":[{"id":109213576,"readable":true,"title":"Where To Start","title_short":"Where
        To Start","title_version":"","link":"https:\/\/www.deezer.com\/track\/109213576","duration":166,"rank":606176,"explicit_lyrics":false,"explicit_content_lyrics":6,"explicit_content_cover":6,"preview":"https:\/\/cdns-preview-7.dzcdn.net\/stream\/c-7107c0d16fdb34b289b59716c46b9f8a-5.mp3","artist":{"id":1701297,"name":"Lou
        Doillon","link":"https:\/\/www.deezer.com\/artist\/1701297","picture":"https:\/\/api.deezer.com\/artist\/1701297\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/bb461ed99b3de8c83959069d81af5e17\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/bb461ed99b3de8c83959069d81af5e17\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/bb461ed99b3de8c83959069d81af5e17\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/bb461ed99b3de8c83959069d81af5e17\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/1701297\/top?limit=50","type":"artist"},"album":{"id":11380062,"title":"Lay
        Low","cover":"https:\/\/api.deezer.com\/album\/11380062\/image","cover_small":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/d40ac4472250e55c018fb131064c0876\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/d40ac4472250e55c018fb131064c0876\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/d40ac4472250e55c018fb131064c0876\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/d40ac4472250e55c018fb131064c0876\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/album\/11380062\/tracks","type":"album"},"type":"track"},{"id":109213572,"readable":true,"title":"Left
        Behind","title_short":"Left Behind","title_version":"","link":"https:\/\/www.deezer.com\/track\/109213572","duration":173,"rank":529637,"explicit_lyrics":false,"explicit_content_lyrics":6,"explicit_content_cover":6,"preview":"https:\/\/cd[...]
