interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.deezer.com/album/302127/tracks
  response:
    body:
      string: '{"data":[{"id":3135553,"readable":true,"title":"One More Time","title_short":"One
        More Time","title_version":"","isrc":"GBDUW0000053","link":"https:\/\/www.deezer.com\/track\/3135553","duration":320,"track_position":1,"disk_number":1,"rank":913564,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-e.dzcdn.net\/stream\/c-e77d23e0c8ed7567a507a6d1b6a9ca1b-9.mp3","md5_image":"2e018122cb56986277102d2041a592c8","artist":{"id":27,"name":"Daft
        Punk","tracklist":"https:\/\/api.deezer.com\/artist\/27\/top?limit=50","type":"artist"},"type":"track"},{"id":3135554,"readable":true,"title":"Aerodynamic","title_short":"Aerodynamic","title_version":"","isrc":"GBDUW0000057","link":"https:\/\/www.deezer.com\/track\/3135554","duration":212,"track_position":2,"disk_number":1,"rank":728528,"explicit_lyrics":false,"explicit_content_lyrics":6,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-b.dzcdn.net\/stream\/c-b2e0166bba75a78251d6dca9c9c3b41a-7.mp3","md5_image":"2e018122cb56986277102d2041a592c8","artist":{"id":2[...]
