interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/0
  response:
    body: {string: '{"tracks":{"data":[{"id":621314462,"title":"Khapta","title_short":"Khapta","title_version":"","link":"https:\/\/www.deezer.com\/track\/621314462","duration":162,"rank":995729,"explicit_lyrics":true,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-0.dzcdn.net\/stream\/c-053221651356adf1569bfb84ed362601-3.mp3","position":1,"artist":{"id":13645509,"name":"Heuss
        L''enfoir\u00e9","link":"https:\/\/www.deezer.com\/artist\/13645509","picture":"https:\/\/api.deezer.com\/artist\/13645509\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c1950d01eb6f6100c1296fa4199329f7\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c1950d01eb6f6100c1296fa4199329f7\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c1950d01eb6f6100c1296fa4199329f7\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c1950d01eb6f6100c1296fa4199329f7\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/13645509\/top?limit=50","type":"artist"},"album":{"id":85084202,"title":"En
        esprit","cover":"https:\/\/api.deezer.com\/album\/85084202\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/6106f9b0084433aea99b35dfd1d4f8bd\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/6106f9b0084433aea99b35dfd1d4f8bd\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/6106f9b0084433aea99b35dfd1d4f8bd\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/6106f9b0084433aea99b35dfd1d4f8bd\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/album\/85084202\/tracks","type":"album"},"type":"track"},{"id":546875592,"title":"Tout
        oublier","title_short":"Tout oublier","title_version":"","link":"https:\/\/www.deezer.com\/track\/546875592","duration":202,"rank":998162,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/0/artists
  response:
    body: {string: '{"data":[{"id":4087782,"name":"Lacrim","link":"https:\/\/www.deezer.com\/artist\/4087782","picture":"https:\/\/api.deezer.com\/artist\/4087782\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/133332a97ee5928b122b38f809bd0b91\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/133332a97ee5928b12[...]
