interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/0
  response:
    body:
      string: '{"tracks":{"data":[{"id":1006845912,"title":"Head & Heart (feat. MNEK)","title_short":"Head
        & Heart (feat. MNEK)","title_version":"","link":"https:\/\/www.deezer.com\/track\/1006845912","duration":166,"rank":922465,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-c.dzcdn.net\/stream\/c-c2843296212fd7e10faa4818f5297ded-3.mp3","position":1,"artist":{"id":8058039,"name":"Joel
        Corry","link":"https:\/\/www.deezer.com\/artist\/8058039","picture":"https:\/\/api.deezer.com\/artist\/8058039\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/269f0aa4e7e71f96facf6784a1a15cae\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/269f0aa4e7e71f96facf6784a1a15cae\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/269f0aa4e7e71f96facf6784a1a15cae\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/269f0aa4e7e71f96facf6784a1a15cae\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/8058039\/top?limit=50","type":"artist"},"album":{"id":157795452,"title":"Head
        & Heart (feat. MNEK)","cover":"https:\/\/api.deezer.com\/album\/157795452\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/6c30daf87841ac1c27a67b7ab4ba255d\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/6c30daf87841ac1c27a67b7ab4ba255d\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/6c30daf87841ac1c27a67b7ab4ba255d\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/6c30daf87841ac1c27a67b7ab4ba255d\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/album\/157795452\/tracks","type":"album"},"type":"track"},{"id":908604612,"title":"Blinding
        Lights","title_short":"Blinding Lights","title_version":"","link":"https:\/\/www.deezer.com\/track\/908604612","duration":200,"rank":984833,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-pr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/0/playlists
  response:
    body:
      string: '{"data":[{"id":915487765,"title":"Deezer Hits UK","public":true,"nb_tracks":50,"link":"https:\/\/www.deezer.com\/playlist\/915487765","picture":"https:\/\/api.deezer.com\/playlist\/915487765\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/playlist\/63f1a9c49709edd0e33a55306a05e433\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/playlist\/63f1a9c49709edd0e33a55306a05e433\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/playlist\/63f1a9c49709edd0e33a55306a05e433\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-images.dzcdn.net\/images\/playlist\/63f1a9c49709edd0e33a55306a05e433\/1000x1000-000000-80-0-0.jpg","checksum":"b2f25d56bb13c43533605625605337b4","tracklist":"https:\/\/api.deezer.com\/playlist\/915487765\/tracks","creation_date":"2014-06-30
        16:02:04","user":{"id":304158405,"name":"Adam - Deezer UK & Ireland Editor","tracklist":"https:\/\/api.deezer.com\/user\/304158405\/flow","type":"user"},"type":"playlist"},{"id":7027930664,"title":"Summer
        Hits UK","public":true,"nb_tracks":60,"link":"https:\/\/www.deezer.com\/playlist\/7027930664","picture":"https:\/\/api.deezer.com\/playlist\/7027930664\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/playlist\/dd15f3f75b774919ff1b4cecfbfdd8b1\/56x56-000000-80-0-0.jpg","picture_medium":[...]
