interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/radio/23261
  response:
    body: {string: '{"id":23261,"title":"Telegraph Classical","description":"Telegraph
        Classical","share":"https:\/\/www.deezer.com\/mixes\/genre\/23261?utm_source=deezer&utm_content=mixes-genre-23261&utm_term=0_1549974229&utm_medium=web","picture":"https:\/\/api.deezer.com\/radio\/23261\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/aad5b7e9ecd6e72e6171c9e65ddf150d\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/aad5b7e9ecd6e72e6171c9e65ddf150d\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/aad5b7e9ecd6e72e6171c9e65ddf150d\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/aad5b7e9ecd6e72e6171c9e65ddf150d\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/radio\/23261\/tracks","type":"radio"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Host: [blm-web-59]
    status: {code: 200, message: OK}
version: 1
