interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/album/302128
  response:
    body:
      string: '{"id":302128,"title":"Tributo Al Cuarteto Patria","upc":"724384963552","link":"https:\/\/www.deezer.com\/album\/302128","share":"https:\/\/www.deezer.com\/album\/302128?utm_source=deezer&utm_content=album-302128&utm_term=0_1641250356&utm_medium=web","cover":"https:\/\/api.deezer.com\/album\/302128\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/cabf70079c74cdc4a119db7c8def4e8a\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/cabf70079c74cdc4a119db7c8def4e8a\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/cabf70079c74cdc4a119db7c8def4e8a\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/cabf70079c74cdc4a119db7c8def4e8a\/1000x1000-000000-80-0-0.jpg","md5_image":"cabf70079c74cdc4a119db7c8def4e8a","genre_id":132,"genres":{"data":[{"id":132,"name":"Pop","picture":"https:\/\/api.deezer.com\/genre\/132\/image","type":"genre"}]},"label":"Parlophone
        Spain","nb_tracks":13,"duration":3779,"fans":419,"release_date":"2000-01-01","record_type":"album","available":true,"tracklist":"https:\/\/api.deezer.com\/album\/302128\/tracks","explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"contributors":[{"id":123021,"name":"Eliades
        Ochoa","link":"https:\/\/www.deezer.com\/artist\/123021","share":"https:\/\/www.deezer.com\/artist\/123021?utm_source=deezer&utm_content=artist-123021&utm_term=0_1641250356&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/123021\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/b99514779dd4be254b8b3c2234770d62\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/b99514779dd4be254b8b3c2234770d62\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/b99514779dd4be254b8b3c2234770d62\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/b99514779dd4be254b8b3c2234770d62\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/123021\/top?limit=50","type":"artist","role":"Main"},{"id":6159602,"name":"El
        Cuarteto Patria","link":"https:\/\/www.deezer.com\/artist\/6159602","share":"https:\/\/www.deezer.com\/artist\/6159602?utm_source=deezer&utm_content=artist-6159602&utm_term=0_1641250356&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/6159602\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5d72e8a482cf964478507d68f288839c\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5d72e8a482cf964478507d68f288839c\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5d72e8a482cf964478507d68f288839c\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5d72e8a482cf964478507d68f288839c\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/6159602\/top?limit=50","type":"artist","role":"Main"}],"artist":{"id":123021,"name":"Eliades
        Ochoa","picture":"https:\/\/api.deezer.com\/artist\/123021\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/b99514779dd4be254b8b3c2234770d62\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/b99514779dd4be254b8b3c2234770d62\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/b99514779dd4be254b8b3c2234770d62\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/b99514779dd4be254b8b3c2234770d62\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/123021\/top?limit=50","type":"artist"},"type":"album","tracks":{"data":[{"id":3135567,"readable":true,"title":"Son
        a la casa de la trova","title_short":"Son a la casa de la trova","title_version":"","link":"https:\/\/www.deezer.com\/track\/3135567","duration":300,"rank":79661,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-8.dzcdn.net\/stream\/c-89e72d96112a26409434520b91de4547-5.mp3","md5_image":"cabf70079c74cdc4a119db7c8def4e8a","artist":{"id":123021,"name":"Eliades
        Ochoa","tracklist":"https:\/\/api.deezer.com\/artist\/123021\/top?limit=50","type":"artist"},"type":"track"},{"id":3135568,"readable":true,"title":"No
        quiero celos","title_short":"No quiero celos","title_version":"","link":"https:\/\/www.deezer.com\/track\/3135568","duration":254,"rank":103066,"explicit_lyrics"[...]
