interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/359622/followings?access_token=dummy
  response:
    body:
      string: '{"data":[{"id":5100920542,"name":"John Doe","picture":"https:\/\/api.deezer.com\/user\/5100920542\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/user\/5100920542\/flow","type":"user"},{"id":5139545882,"name":"Jane
        Doe","picture":"https:\/\/api.deezer.com\/user\/5139545882\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/user\/5139545882\/flow","type":"user"}],"total":2}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-03
      x-org:
      - FR
    status:
      code: 200
      message: OK
version: 1
