interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/editorial
  response:
    body:
      string: '{"data":[{"id":0,"name":"Tous","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/\/1000x1000-000000-80-0-0.jpg","type":"editorial"},{"id":132,"name":"Pop","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/db7a604d9e7634a67d45cfc86b48370a\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/db7a604d9e7634a67d45cfc86b48370a\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/db7a604d9e7634a67d45cfc86b48370a\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/db7a604d9e7634a67d45cfc86b[...]
