interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/genre/106
  response:
    body: {string: '{"id":106,"name":"Electro","picture":"https:\/\/api.deezer.com\/genre\/106\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/1000x1000-000000-80-0-0.jpg","type":"genre"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Host: [blm-web-20]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/genre/106/artists
  response:
    body: {string: '{"data":[{"id":1000956,"name":"Clean Bandit","picture":"https:\/\/api.deezer.com\/artist\/1000956\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/27949a901dcbdf7e1beec0d8df67db07\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/27949a901dcbdf7e1beec0d8df67db07\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/27949a901dcbdf7e1beec0d8df67db07\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/27949a901dcbdf7e1beec0d8df67db07\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/1000956\/top?limit=50","type":"artist"},{"id":6032634,"name":"Ofenbach","picture":"https:\/\/api.deezer.com\/artist\/6032634\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/cc2dc98646a999942496ddc83029ef20\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/cc2dc98646a999942496ddc83029ef20\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/cc2dc9864[...]
