interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/comment/2772704
  response:
    body: {string: '{"id":2772704,"text":"hey! c''est vraiement pas mal comme son
        ^^\r\rclasse!","date":1228300538,"object":{"id":null,"type":"album"},"author":{"id":3500485,"name":"noiseofbozzo","link":"https:\/\/www.deezer.com\/profile\/3500485","picture":"https:\/\/api.deezer.com\/user\/3500485\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/10185bd1331027ece97c5ab0fd825035\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/10185bd1331027ece97c5ab0fd825035\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/10185bd1331027ece97c5ab0fd825035\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/10185bd1331027ece97c5ab0fd825035\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/user\/3500485\/flow","type":"user"},"type":"comment"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-Host: [blm-web-16]
    status: {code: 200, message: OK}
version: 1
