interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/0/playlists
  response:
    body:
      string: '{"data":[{"id":63141574,"title":"Brand New UK","public":true,"nb_tracks":60,"link":"https:\/\/www.deezer.com\/playlist\/63141574","picture":"https:\/\/api.deezer.com\/playlist\/63141574\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/8271e13fceb9fb3051be5d112a5bddd9\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/8271e13fceb9fb3051be5d112a5bddd9\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/8271e13fceb9fb3051be5d112a5bddd9\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/8271e13fceb9fb3051be5d112a5bddd9\/1000x1000-000000-80-0-0.jpg","checksum":"d34ec162962ae55638df44f6cf76bb40","tracklist":"https:\/\/api.deezer.com\/playlist\/63141574\/tracks","creation_date":"2017-05-19
        07:56:10","md5_image":"8271e13fceb9fb3051be5d112a5bddd9","picture_type":"playlist","user":{"id":304158405,"name":"Adam
        - Deezer UK & Ireland Editor","tracklist":"https:\/\/api.deezer.com\/user\/304158405\/flow","type":"user"},"type":"playlist"},{"id":915487765,"title":"Deezer
        Hits UK","public":true,"nb_tracks":50,"link":"https:\/\/www.deezer.com\/playlist\/915487765","picture":"https:\/\/api.deezer.com\/playlist\/915487765\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/1681fb316346f1b9cc43cb160c16bef1\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/1681fb316346f1b9cc43cb160c16bef1\/250x250-000000-80-0-0.jpg","picture_big":[...]
