interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search?index=1&limit=4&q=Billy+Jean
  response:
    body:
      string: '{"data":[{"id":1516986202,"readable":true,"title":"Billie Jean","title_short":"Billie
        Jean","title_version":"","link":"https:\/\/www.deezer.com\/track\/1516986202","duration":168,"rank":100000,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-4.dzcdn.net\/stream\/c-44e58003f07c8d41c3eba9a17d3ff85d-3.mp3","md5_image":"dfef66fc0ceac985394cb354ed0b1259","artist":{"id":4397046,"name":"Anthony
        Touma","link":"https:\/\/www.deezer.com\/artist\/4397046","picture":"https:\/\/api.deezer.com\/artist\/4397046\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/2c4f139b6d8a754cea1b050bf005be7a\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/2c4f139b6d8a754cea1b050bf005be7a\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/2c4f139b6d8a754cea1b050bf005be7a\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/2c4f139b6d8a754cea1b050bf005be7a\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/4397046\/top?limit=50","type":"artist"},"album":{"id":264451832,"title":"La
        Voix des stars","cover":"https:\/\/api.deezer.com\/album\/264451832\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/dfef66fc0ceac985394cb354ed0b1259\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/dfef66fc0ceac985394cb354ed0b1259\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/dfef66fc0ceac985394cb354ed0b1259\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/dfef66fc0ceac985394cb354ed0b1259\/1000x1000-000000-80-0-0.jpg","md5_image":"dfef66fc0ceac985394cb354ed0b1259","tracklist":"https:\/\/api.deezer.com\/album\/264451832\/tracks","type":"album"},"type":"track"},{"id":831313,"readable":true,"title":"Billie
        Jean","title_short":"Billie Jean","title_version":"","link":"https:\/\/www.deezer.com\/track\/831313","duration":294,"rank":772345,"explicit_lyrics":false,"explicit_content_lyrics":0,"expli[...]
