interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/0/podcasts
  response:
    body:
      string: '{"data":[{"id":1161732,"title":"Rob Beckett and Josh Widdicombe''s
        Parenting Hell","description":"Parenting....just not as you know it...","available":true,"link":"https:\/\/www.deezer.com\/show\/1161732","share":"https:\/\/www.deezer.com\/show\/1161732?utm_source=deezer&utm_content=show-1161732&utm_term=0_1634393756&utm_medium=web","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f92436bdf863afbd40094f8f0e3cabcb\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f92436bdf863afbd40094f8f0e3cabcb\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f92436bdf863afbd40094f8f0e3cabcb\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f92436bdf863afbd40094f8f0e3cabcb\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f92436bdf863afbd40094f8f0e3cabcb\/1000x1000-000000-80-0-0.jpg","type":"podcast"},{"id":398302,"title":"Sh**ged
        Married Annoyed","description":"The only way Rosie and Chris Ramsey can have
        a conversation without being interrupted by a toddler or ending up staring
        at their phones is by doing a podcast. They\u2019ll be chatting all about
        life, relationships, arguments, annoyances, parenting, growing up and everything
        in between. Each week they will answer questions from the public and a secret
        celebrity.","available":tr[...]
