interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/0/artists?index=0
  response:
    body:
      string: '{"data":[{"id":230,"name":"Kanye West","link":"https:\/\/www.deezer.com\/artist\/230","picture":"https:\/\/api.deezer.com\/artist\/230\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bb76c2ee3b068726ab4c37b0aabdb57a\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bb76c2ee3b068726ab4c37b0aabdb57a\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bb76c2ee3b068726ab4c37b0aabdb57a\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bb76c2ee3b068726ab4c37b0aabdb57a\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/230\/top?limit=50","position":1,"type":"artist"},{"id":384236,"name":"Ed
        Sheeran","link":"https:\/\/www.deezer.com\/artist\/384236","picture":"https:\/\/api.deezer.com\/artist\/384236\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/3a58adf62c522732a6d3a7f8806de0c3\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/3a58adf62c522732a6d3a7f8806de0c3\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/3a58adf62c522732[...]
