interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/chart/106/tracks
  response:
    body:
      string: '{"data":[{"id":1432930542,"title":"Where Are You Now","title_short":"Where
        Are You Now","title_version":"","link":"https:\/\/www.deezer.com\/track\/1432930542","duration":148,"rank":980523,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-4.dzcdn.net\/stream\/c-4dbc273925e6605c5ee6d89c59be1e2b-3.mp3","md5_image":"a7fb466d3186650ced59307edcf0306f","position":1,"artist":{"id":5866223,"name":"Lost
        Frequencies","link":"https:\/\/www.deezer.com\/artist\/5866223","picture":"https:\/\/api.deezer.com\/artist\/5866223\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5876cafffe21256efdaf47fca19a2694\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5876cafffe21256efdaf47fca19a2694\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5876cafffe21256efdaf47fca19a2694\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5876cafffe21256efdaf47fca19a2694\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/5866223\/top?limit=50","type":"artist"},"album":{"id":244103182,"title":"Where
        Are You Now","cover":"https:\/\/api.deezer.com\/album\/244103182\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/a7fb466d3186650ced59307edcf0306f\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/a7fb466d3186650ced59307edcf0306f\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/a7fb466d3186650ced59307edcf0306f\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/a7fb466d3186650ced59307edcf0306f\/1000x1000-000000-80-0-0.jpg","md5_image":"a7fb466d3186650ced59307edcf0306f","tracklist":"https:\/\/api.deezer.com\/album\/244103182\/tracks","type":"album"},"type":"track"},{"id":1473516462,"title":"Hurricane","title_short":"Hurricane","title_version":"","link":"https:\/\/www.deezer.com\/track\/1473516462","duration":147,"rank":967453,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0[...]
