interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/359622
  response:
    body:
      string: '{"id":359622,"name":"Bruno Alla","link":"https:\/\/www.deezer.com\/profile\/359622","picture":"https:\/\/api.deezer.com\/user\/359622\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/1000x1000-000000-80-0-0.jpg","country":"DE","tracklist":"https:\/\/api.deezer.com\/user\/359622\/flow","type":"user"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-63
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/359622/playlists
  response:
    body:
      string: '{"data":[{"id":716369,"title":"AC\/DC","duration":1502,"public":true,"is_loved_track":false,"collaborative":false,"nb_tracks":6,"fans":0,"link":"https:\/\/www.deezer.com\/playlist\/716369","picture":"https:\/\/api.deezer.com\/playlist\/716369\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/d167d9a9b2f3f49ed72878a00530415b-d0107be8326b716b4d279a2090ca2faf-509b658d5a7cead4927cfa248b92add8-4fb9e74ab5361a891c331c0adf662099\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/d167d9a9b2f3f49ed72878a00530415b-d0107be8326b716b4d279a2090ca2faf-509b658d5a7cead4927cfa248b92add8-4fb9e74ab5361a891c331c0adf662099\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/d167d9a9b2f3f49ed72878a00530415b-d0107be8326b716b4d279a2090ca2faf-509b658d5a7cead4927cfa248b92add8-4fb9e74ab5361a891c331c0adf662099\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/d167d9a9b2f3f49ed72878a00530415b-d0107be8326b716b4d279a2090ca2faf-509b658d5a7cead4927cfa248b92add8-4fb9e74ab5361a891c331c0adf662099\/1000x1000-000000-80-0-0.jpg","checksum":"75fa86472fd65ab74a5e897a1b4d2d79","tracklist":"https:\/\/api.deezer.com\/playlist\/716369\/tracks","creation_date":"2013-11-06
        17:00:00","time_add":0,"time_mod":1383757200,"creator":{"id":359622,"name":"Bruno
        Alla","tracklist":"https:\/\/api.deezer.com\/user\/359622\/flow","type":"user"},"type":"playlist"},{"id":1721646,"title":"Merde","duration":3276,"public":true,"is_loved_track":false,"collaborative":false,"nb_tracks":15,"fans":0,"link":"https:\/\/www.deezer.com\/playlist\/1721646","picture":"https:\/\/api.deezer.com\/playlist\/1721646\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/cafda36f44d15143abdb48cd18f604af-d167d9a9b2f3f49ed7287[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/359622/playlists?index=0
  response:
    body:
      string: '{"data":[{"id":716369,"title":"AC\/DC","duration":1502,"public":true,"is_loved_track":false,"collaborative":false,"nb_tracks":6,"fans":0,"link":"https:\/\/www.deezer.com\/playlist\/716369","picture":"https:\/\/api.deezer.com\/playlist\/716369\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/d167d9a9b2f3f49ed72878a0053041[...]
