interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/353978015
  response:
    body:
      string: '{"id":353978015,"name":"Yannick - Deezer Classical Editor","link":"https:\/\/www.deezer.com\/profile\/353978015","picture":"https:\/\/api.deezer.com\/user\/353978015\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/828b01818eb96295aa1b5b85150414eb\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/828b01818eb96295aa1b5b85150414eb\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/828b01818eb96295aa1b5b85150414eb\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/828b01818eb96295aa1b5b85150414eb\/1000x1000-000000-80-0-0.jpg","country":"FR","tracklist":"https:\/\/api.deezer.com\/user\/353978015\/flow","type":"user"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-132
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/353978015/tracks
  response:
    body:
      string: '{"data":[{"id":872196,"readable":true,"title":"Pr\u00e9lude a l''apr\u00e8s-midi
        d''un faune, L. 86","link":"https:\/\/www.deezer.com\/track\/872196","duration":581,"rank":108944,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"time_add":1383571216,"album":{"id":98581,"title":"Boulez
        dirige... Ravel & Debussy","cover":"https:\/\/api.deezer.com\/album\/98581\/image","cover_small":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/7fc38648eb7ade41eca9e3a6a9977f55\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/7fc38648eb7ade41eca9e3a6a9977f55\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/7fc38648eb7ade41eca9e3a6a9977f55\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/7fc38648eb7ade41eca9e3a6a9977f55\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/album\/98581\/tracks","type":"album"},"artist":{"id":65832,"name":"Pierre
        Boulez","picture":"https:\/\/api.deezer.com\/artist\/65832\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/8ab8ec5e6e1d69135c51f9374bfa5d58\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/8ab8ec5e6e1d69135c51f9374bfa5d58\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/8ab8ec5e6e1d69135c51f9374bfa5d58\/500x500-000000-80-0-0.jpg","picture_xl":"https:[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/304158405/tracks?index=25
  response:
    body:
      string: '{"data":[{"id":416461342,"readable":true,"title":"Anywhere","link":"https:\/\/www.deezer.com\/track\/416461342","duration":215,"rank":742279,"explicit_lyrics":false,"explicit_content_lyrics":6,"explicit_content_cover":2,"time_add":1584976525,"album":{"id":49721102,"title":"Anywhere","cover":"https:\/\/api.deezer.com\/album\/49721102\/image","c[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/353978015/tracks?index=300
  response:
    body:
      string: '{"data":[{"id":80520536,"readable":false,"title":"Concerto \"per Sua
        Altezza Reale di Sassonia\" in G Minor \"for violino solo, oboe solo, oboe
        secondo, due flauti, archi e : III. Allegro","link":"https:\/\/www.deezer.com\/track\/80520536","duration":217,"rank":17,"explicit_lyrics":false,"explicit_content_lyrics":2,"explicit_content_cover":2,"time_add":1409647075,"album":{"id":8042744,"title":"Concerto,
        Venice: The Golden Age","cover":"https:\/\/api.deezer.com\/album\/8042744\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1f762680354194c86cfc2d68186415a3\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1f762680354194c86cfc2d68186415a3\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1f762680354194c86cfc2d68186415a3\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/ima[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/353978015/tracks?index=375
  response:
    body:
      string: '{"data":[{"id":58819781,"readable":true,"title":"Beethoven: Symphony
        No. 6 in F Major, Op. 68 \"Pastoral\": III. Lustiges Zusammensein der Landleute.
        Allegro","link":"https:\/\/www.deezer.com\/track\/58819781","duration":324,"rank":148597,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"time_add":1429698229,"album":{"id":5747171,"title":"Beethoven
        : Symphonies 1-9","cover":"https:\/\/api.deezer.com\/album\/5747171\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/e7fd07a211b0f736104a3faf87947cae\/56x56-000000-80-0-0.jpg","cover_med[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/353978015/tracks?index=525
  response:
    body:
      string: '{"data":[{"id":73150896,"readable":false,"title":"St. Matthiew Passion,
        BWV 244: Erbarme dich (Aria)","link":"https:\/\/www.deezer.com\/track\/73150896","duration":398,"rank":2488,"explicit_lyrics":false,"explicit_content_lyrics":2,"explicit_content_cover":2,"time_add":1431689936,"album":{"id":7198332,"title":"J.S.
        Bach: Matth\u00e4us-Passion BWV 244","cover":"https:\/\/api.deezer.com\/album\/7198332\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/7e511bebca8e23a656f13e4f02e526b0\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/7e511bebca8e23a656f13e4f02e526b0\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/7e511bebca8e23a656f13e4f02e526b0\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images[...]
