interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/353978015
  response:
    body:
      string: '{"id":353978015,"name":"Yannick - Deezer Classical Editor","link":"https:\/\/www.deezer.com\/profile\/353978015","picture":"https:\/\/api.deezer.com\/user\/353978015\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/828b01818eb96295aa1b5b85150414eb\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/828b01818eb96295aa1b5b85150414eb\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/828b01818eb96295aa1b5b85150414eb\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/828b01818eb96295aa1b5b85150414eb\/1000x1000-000000-80-0-0.jpg","country":"FR","tracklist":"https:\/\/api.deezer.com\/user\/353978015\/flow","type":"user"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-132
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/353978015/tracks
  response:
    body:
      string: '{"data":[{"id":872196,"readable":true,"title":"Pr\u00e9lude a l''apr\u00e8s-midi
        d''un faune, L. 86","link":"https:\/\/www.deezer.com\/track\/872196","duration":581,"rank":108944,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"time_add":1383571216,"album":{"id":98581,"title":"Boulez
        dirige... Ravel & Debussy","cover":"https:\/\/api.deezer.com\/album\/98581\/image","cover_small":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/7fc38648eb7ade41eca9e3a6a9977f55\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/7fc38648eb7ade41eca9e3a6a9977f55\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/7fc38648eb7ade41eca9e3a6a9977f55\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/7fc38648eb7ade41eca9e3a6a9977f55\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/album\/98581\/tracks","type":"album"},"artist":{"id":65832,"name":"Pierre
        Boulez","picture":"https:\/\/api.deezer.com\/artist\/65832\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/8ab8ec5e6e1d69135c51f9374bfa5d58\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/8ab8ec5e6e1d69135c51f9374bfa5d58\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/8ab8ec5e6e1d69135c51f9374bfa5d58\/500x500-000000-80-0-0.jpg","picture_xl":"https:[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/353978015/tracks?index=0
  response:
    body:
      string: '{"data":[{"id":872196,"readable":false,"title":"Pr\u00e9lude a l''apr\u00e8s-midi
        d''un faune, L. 86","link":"https:\/\/www.deezer.com\/track\/872196","duration":581,"rank":104151,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"time_add":1383571216,"album":{"id":98581,"title":"Boulez
        dirige... Rav[...]
