interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/playlist/6512
  response:
    body:
      string: '{"id":6512,"title":"Christina Aguilera","description":"","duration":0,"public":true,"is_loved_track":false,"collaborative":false,"nb_tracks":0,"fans":3,"link":"https:\/\/www.deezer.com\/playlist\/6512","share":"https:\/\/www.deezer.com\/playlist\/6512?utm_source=deezer&utm_content=playlist-6512&utm_term=0_1593602308&utm_medium=web","picture":"https:\/\/api.deezer.com\/playlist\/6512\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/\/1000x1000-000000-80-0-0.jpg","checksum":"abd1c782880cc59759f4112fda0b8f98","tracklist":"https:\/\/api.deezer.com\/playlist\/6512\/tracks","creation_date":"2020-07-01
        12:18:28","creator":{"id":3887,"name":"mounir.ds","tracklist":"https:\/\/api.deezer.com\/user\/3887\/flow","type":"user"},"type":"playlist","tracks":{"data":[],"checksum":"abd1c782880cc59759f4112fda0b8f98"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-15
      x-org:
      - FR
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/playlist/6512/fans
  response:
    body:
      string: '{"data":[{"id":194928025,"name":"laurentky","link":"https:\/\/www.deezer.com\/profile\/194928025","picture":"https:\/\/api.deezer.com\/user\/194928025\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/250x250-000000-80-0-0.jpg","picture_[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/playlist/6512/tracks?index=0
  response:
    body:
      string: '{"data":[],"checksum":"abd1c782880cc59759f4112fda0b8f98","total":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-132
      x-org:
      - FR
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/playlist/6512/fans?index=0
  response:
    body:
      string: '{"data":[{"id":194928025,"name":"laurentky","link":"https:\/\/www.deezer.com\/profile\/194928025","picture":"https:\/\/api.deezer.com\/user\/194928025\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/250x250-000000-80-0-0.jpg","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/playlist/6512/fans?index=3
  response:
    body:
      string: '{"data":[],"total":3,"prev":"https:\/\/api.deezer.com\/playlist\/6512\/fans?index=0"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Host:
      - blm-web-65
    status:
      code: 200
      message: OK
version: 1
