interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/me/recommendations/artists?access_token=dummy
  response:
    body:
      string: '{"data":[{"id":892,"name":"Coldplay","picture":"https:\/\/api.deezer.com\/artist\/892\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/e65d62ecd00b8bf1ba89073943ac62a1\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/e65d62ecd00b8bf1ba89073943ac62a1\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/e65d62ecd00b8bf1ba89073943ac62a1\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/e65d62ecd00b8bf1ba89073943ac62a1\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/892\/top?limit=50","type":"artist"},{"id":6982223,"name":"BTS","picture":"https:\/\/api.deezer.com\/artist\/6982223\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f60d6b87573ab3d2abd387264ad43609\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f60d6b87573ab3d2abd387264ad43609\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f60d6b87573ab3d2abd387264ad43609\/500x500-000000-80-0-0.jpg","picture_xl":"http[...]
