interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/me/history?access_token=dummy
  response:
    body:
      string: '{"data":[{"id":1385588422,"readable":true,"title":"Loverini","title_short":"Loverini","title_version":"","link":"https:\/\/www.deezer.com\/track\/1385588422","duration":202,"rank":669569,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-f.dzcdn.net\/stream\/c-fb1eb137f4c2c617c32b1eace04cab62-3.mp3","md5_image":"aaeaf4de4ba9e60e30b8bc52d138ac06","timestamp":1634332679,"artist":{"id":326180,"name":"Myd","link":"https:\/\/www.deezer.com\/artist\/326180","tracklist":"https:\/\/api.deezer.com\/artist\/326180\/top?limit=50","type":"artist"},"album":{"id":233306092,"title":"Loverini","link":"https:\/\/www.deezer.com\/album\/233306092","cover":"https:\/\/api.deezer.com\/album\/233306092\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/aaeaf4de4ba9e60e30b8bc52d138ac06\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/aaeaf4de4ba9e60e30b8bc52d138ac06\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/aaeaf4de4ba9e60e30b8bc52d138ac06\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/aaeaf4de4ba9e60e30b8bc52d138ac06\/1000x1000-000000-80-0-0.jpg","md5_image":"aaeaf4de4ba9e60e30b8bc52d138ac06","tracklist":"https:\/\/api.deezer.com\/album\/233306092\/tracks","type":"album"},"type":"track"},{"id":586961162,"readable":true,"title":"Superch\u00e9rie","title_short":"Superch\u00e9rie","title_version":"","link":"https:\/\/www.deezer.com\/track\/586961162","duration":223,"rank":631269,"explicit_lyrics":false,"explicit_content_lyrics":[...]
