interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/search?q=Soliloquy&strict=on
  response:
    body:
      string: '{"data":[{"id":1495381112,"readable":true,"title":"Soliloquy","title_short":"Soliloquy","title_version":"","link":"https:\/\/www.deezer.com\/track\/1495381112","duration":199,"rank":100000,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-0.dzcdn.net\/stream\/c-015d0109f28f76fb69e33d444d7f89a6-2.mp3","md5_image":"ea002e883dc246dd5bcfb680b0436afe","artist":{"id":4080,"name":"Dave
        Brubeck","link":"https:\/\/www.deezer.com\/artist\/4080","picture":"https:\/\/api.deezer.com\/artist\/4080\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bd9dd053fc38dec93f2cd54300f8d16a\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bd9dd053fc38dec93f2cd54300f8d16a\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bd9dd053fc38dec93f2cd54300f8d16a\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/bd9dd053fc38dec93f2cd54300f8d16a\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/4080\/top?limit=50","type":"artist"},"album":{"id":259135282,"title":"Nightclub","cover":"https:\/\/api.deezer.com\/album\/259135282\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/ea002e883dc246dd5bcfb680b0436afe\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/ea002e883dc246dd5bcfb680b0436afe\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/ea002e883dc246dd5bcfb680b0436afe\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/ea002e883dc246dd5bcfb680b0436afe\/1000x1000-000000-80-0-0.jpg","md5_image":"ea002e883dc246dd5bcfb680b0436afe","tracklist":"https:\/\/api.deezer.com\/album\/259135282\/tracks","type":"album"},"type":"track"},{"id":1514405342,"readable":true,"title":"Soliloquy
        (Remastered)","title_short":"Soliloquy","title_version":"(Remastered)","link":"https:\/\/www.deezer.com\/track\/1514405342","duration":366,"rank":100000,"explicit_lyrics":false,"expl[...]
