interactions:
  - request:
      body: null
      headers:
      method: POST
      uri: https://api.deezer.com/user/me/playlists?access_token=dummy&title=My+Awesome+Playlist
    response:
      body:
        string: '{"id":11356820724}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-184
        x-org:
          - FR
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/playlist/11356820724?access_token=dummy
    response:
      body:
        string:
          '{"id":11356820724,"title":"My Awesome Playlist","description":"","duration":0,"public":true,"is_loved_track":false,"collaborative":false,"nb_tracks":0,"fans":0,"link":"https:\/\/www.deezer.com\/playlist\/11356820724","share":"https:\/\/www.deezer.com\/playlist\/11356820724?utm_source=deezer&utm_content=playlist-11356820724&utm_term=0_1683795165&utm_medium=web","picture":"https:\/\/api.deezer.com\/playlist\/11356820724\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/\/1000x1000-000000-80-0-0.jpg","checksum":"119c9ce01e5057f050ab552e88f57c3f","tracklist":"https:\/\/api.deezer.com\/playlist\/11356820724\/tracks","creation_date":"2023-05-11
          09:52:45","md5_image":"","picture_type":"cover","creator":{"id":359622,"name":"Bruno
          Alla","tracklist":"https:\/\/api.deezer.com\/user\/359622\/flow","type":"user"},"type":"playlist","tracks":{"data":[],"checksum":"119c9ce01e5057f050ab552e88f57c3f"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-81
        x-org:
          - FR
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/user/me?access_token=dummy
    response:
      body:
        string: '{"id":359622,"name":"Bruno Alla","lastname":"Alla","firstname":"Bruno","email":"alla.brunoo@gmail.com","status":0,"birthday":"0000-00-00","inscription_date":"2007-08-26","gender":"","link":"https:\/\/www.deezer.com\/profile\/359622","picture":"https:\/\/api.deezer.com\/user\/359622\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/1000x1000-000000-80-0-0.jpg","country":"GB","lang":"fr","is_kid":false,"explicit_content_level":"explicit_display","explicit_content_levels_available":["explicit_display","explicit_no_recommendation","explicit_hide"],"tracklist":"https:\/\/api.deezer.com\/user\/359622\/flow","type":"user"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-139
        x-org:
          - FR
      status:
        code: 200
        message: OK
version: 1
