interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/me/albums?access_token=dummy
  response:
    body:
      string: '{"data":[{"id":357404,"title":"OK Cowboy","link":"https:\/\/www.deezer.com\/album\/357404","cover":"https:\/\/api.deezer.com\/album\/357404\/image","cover_small":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/c35a9579e79da78be284094d5cca571b\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/c35a9579e79da78be284094d5cca571b\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/c35a9579e79da78be284094d5cca571b\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/c35a9579e79da78be284094d5cca571b\/1000x1000-000000-80-0-0.jpg","md5_image":"c35a9579e79da78be284094d5cca571b","nb_tracks":13,"release_date":"2005-04-04","record_type":"album","available":true,"tracklist":"https:\/\/api.deezer.com\/album\/357404\/tracks","explicit_lyrics":false,"time_add":1338501600,"artist":{"id":641,"name":"Vitalic","picture":"https:\/\/api.deezer.com\/artist\/641\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/5e970ce2f5c52fe2b036f088eb4a7bef\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/5e970ce2f5c52fe2b036f088eb4a7bef\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/5e970ce2f5c52fe2b036f088eb4a7bef\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/5e970ce2f5c52fe2b036f088eb4a7bef\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/641\/top?limit=50","type":"artist"},"type":"album"},{"id":230721992,"title":"Tank
        (Remastered)","link":"https:\/\/www.deezer.com\/album\/230721992","cover":"https:\/\/api.deezer.com\/album\/230721992\/image","cover_small":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/0a52a069f4596c26c6f5b1527c8814c1\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/0a52a069f4596c26c6f5b1527c8814c1\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/0a[...]
