interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/radio/top
  response:
    body:
      string: '{"data":[{"id":31061,"title":"Pop","picture":"https:\/\/api.deezer.com\/radio\/31061\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/933805b7ebadc9c50845d7007e2c64d9\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/933805b7ebadc9c50845d7007e2c64d9\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/933805b7ebadc9c50845d7007e2c64d9\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/933805b7ebadc9c50845d7007e2c64d9\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/radio\/31061\/tracks","type":"radio"},{"id":37151,"title":"Hits","picture":"https:\/\/api.deezer.com\/radio\/37151\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/235ec47f2b21c3c73e02fce66f56ccc5\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/235ec47f2b21c3c73e02fce66f56ccc5\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/235ec47f2b21c3c73e02fce66f56ccc5\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cd[...]
