interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/me/tracks?access_token=dummy
  response:
    body:
      string: '{"data":[{"id":1374789602,"readable":true,"title":"Flyover","link":"https:\/\/www.deezer.com\/track\/1374789602","duration":258,"rank":311062,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"md5_image":"0a52a069f4596c26c6f5b1527c8814c1","time_add":1633802081,"album":{"id":230721992,"title":"Tank
        (Remastered)","cover":"https:\/\/api.deezer.com\/album\/230721992\/image","cover_small":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/0a52a069f4596c26c6f5b1527c8814c1\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/0a52a069f4596c26c6f5b1527c8814c1\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/0a52a069f4596c26c6f5b1527c8814c1\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/cdns-images.dzcdn.net\/images\/cover\/0a52a069f4596c26c6f5b1527c8814c1\/1000x1000-000000-80-0-0.jpg","md5_image":"0a52a069f4596c26c6f5b1527c8814c1","tracklist":"https:\/\/api.deezer.com\/album\/230721992\/tracks","type":"album"},"artist":{"id":1422,"name":"Asian
        Dub Foundation","picture":"https:\/\/api.deezer.com\/artist\/1422\/image","picture_small":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/8c4fda02331e9e658877b28b0b7a3115\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/8c4fda02331e9e658877b28b0b7a3115\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/8c4fda02331e9e658877b28b0b7a3115\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/cdns-images.dzcdn.net\/images\/artist\/8c4fda02331e9e658877b28b0b7a3115\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/1422\/top?limit=50","type":"artist"},"type":"track"},{"id":3834127,"readable":true,"title":"Poney
        Pt. I","link":"https:\/\/www.deezer.com\/track\/3834127","duration":323,"rank":630344,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"md5_image":"c35a9579e79da78be284094d5cca571b","time_add":1633802089,[...]
