interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/user/me/recommendations/tracks?access_token=dummy
  response:
    body:
      string: '{"data":[{"id":99976954,"readable":true,"title":"Ride","duration":214,"rank":920367,"explicit_lyrics":false,"explicit_content_lyrics":6,"explicit_content_cover":0,"md5_image":"48e4d114036a2b4ac24f7fadb44a3c4d","album":{"id":10236282,"title":"Blurryface","cover":"https:\/\/api.deezer.com\/album\/10236282\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/48e4d114036a2b4ac24f7fadb44a3c4d\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/48e4d114036a2b4ac24f7fadb44a3c4d\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/48e4d114036a2b4ac24f7fadb44a3c4d\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/48e4d114036a2b4ac24f7fadb44a3c4d\/1000x1000-000000-80-0-0.jpg","md5_image":"48e4d114036a2b4ac24f7fadb44a3c4d","tracklist":"https:\/\/api.deezer.com\/album\/10236282\/tracks","type":"album"},"artist":{"id":647650,"name":"Twenty
        One Pilots","picture":"https:\/\/api.deezer.com\/artist\/647650\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c259fffca57feb4274a932f90392521f\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c259fffca57feb4274a932f90392521f\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c259fffca57feb4274a932f90392521f\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/c259fffca57feb4274a932f90392521f\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/647650\/top?limit=50","type":"artist"},"type":"track"},{"id":1518077862,"readable":true,"title":"Let
        Somebody Go","duration":241,"rank":900344,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"md5_image":"1abb9a47ab25986493537b08f00c57d3","album":{"id":264785262,"title":"Music
        Of The Spheres[...]
