interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/chart/0
    response:
      body:
        string:
          '{"tracks":{"data":[{"id":1549325122,"title":"LA FAMA","title_short":"LA
          FAMA","title_version":"","link":"https:\/\/www.deezer.com\/track\/1549325122","duration":188,"rank":982403,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-4.dzcdn.net\/stream\/c-412b822a60bebc876b2c9e08a02147c4-3.mp3","md5_image":"8aedbf944876908b3bfea5f860b290ba","position":1,"artist":{"id":554792,"name":"Rosal\u00eda","link":"https:\/\/www.deezer.com\/artist\/554792","picture":"https:\/\/api.deezer.com\/artist\/554792\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/4b6e756d8c083bdccee45478fe479be2\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/4b6e756d8c083bdccee45478fe479be2\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/4b6e756d8c083bdccee45478fe479be2\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/4b6e756d8c083bdccee45478fe479be2\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/554792\/top?limit=50","type":"artist"},"album":{"id":271856742,"title":"LA
          FAMA (feat. The Weeknd)","cover":"https:\/\/api.deezer.com\/album\/271856742\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/8aedbf944876908b3bfea5f860b290ba\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/8aedbf944876908b3bfea5f860b290ba\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/8aedbf944876908b3bfea5f860b290ba\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/8aedbf944876908b3bfea5f860b290ba\/1000x1000-000000-80-0-0.jpg","md5_image":"8aedbf944876908b3bfea5f860b290ba","tracklist":"https:\/\/api.deezer.com\/album\/271856742\/tracks","type":"album"},"type":"track"},{"id":1522223672,"title":"Easy
          On Me","title_short":"Easy On Me","title_version":"","link":"https:\/\/www.deezer.com\/track\/1522223672","duration":224,"rank":1000000,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_con[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/chart/0/podcasts
    response:
      body:
        string:
          '{"data":[{"id":58021,"title":"Les Grosses T\u00eates","description":"Du
          lundi au vendredi de 15h30 \u00e0 18h, retrouvez Laurent Ruquier, chef d''orchestre
          de l''\u00e9mission. Entour\u00e9 de ses fid\u00e8les Grosses T\u00eates,
          il imprime sa marque \u00e0 ce programme culte de la radio tout en restant
          fid\u00e8le \u00e0 ses fondamentaux.","available":true,"fans":25734,"link":"https:\/\/www.deezer.com\/show\/58021","share":"https:\/\/www.deezer.com\/show\/58021?utm_source=deezer&utm_content=show-58021&utm_term=0_1646697427&utm_medium=web","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/610ee80af98678bfbc7b0edacc30971a\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/610ee80af98678bfbc7b0edacc30971a\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/610ee80af98678bfbc7b0edacc30971a\/250x250-000000-80-0-0.jpg","picture[...]
