interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/genre/232
    response:
      body:
        string: '{"id":232,"name":"Technologie","picture":"https:\/\/api.deezer.com\/genre\/232\/image","type":"genre"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-73
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/genre/232/podcasts
    response:
      body:
        string:
          '{"data":[{"id":8153,"title":"Le rendez-vous Tech","description":"On
          r\u00e9sume chaque semaine tout le monde de la tech. Un podcast pour tous,
          compr\u00e9hensible, int\u00e9ressant et fun !Dans le RDV Tech, nous traitons
          des nouveaut\u00e9s et de l\u2019actualit\u00e9 du net, des gadgets et de
          la technologie en g\u00e9n\u00e9ral. Nous parlons des nouveaut\u00e9s techniques,
          des mouvements du march\u00e9 et de l\u2019\u00e9volution de l\u2019industrie,
          toujours du point de vue des utilisateurs \u00e9clair\u00e9s que nous sommes...
          et toujours dans la bonne humeur !-- Si vous voulez soutenir l''\u00e9mission,
          rendez-vous sur patreon.com\/RDVTech. -- Voir Acast.com\/privacy pour les
          informations sur la vie priv\u00e9e et l''opt-out.","available":true,"fans":2330,"link":"https:\/\/www.deezer.com\/show\/8153","share":"https:\/\/www.deezer.com\/show\/8153?utm_source=deezer&utm_content=show-8153&utm_term=0_1644414820&utm_medium=web","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/039cd4799b07d0bd1711bbb96ecc9719\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/039cd4799b07d0bd1711bbb96ecc9719\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/039cd4799b07d0bd1711bbb96ecc9719\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/039cd4799b07d0bd1711bbb96ecc9719\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/039cd4799b07d0bd1711bbb96ecc9719\/1000x1000-000000-80-0-0.jpg","type":"podcast"},{"id":1259,"title":"TheFamily
          Podcast","description":"TheFamily nurtures Entrepreneurs with Intelligence,
          Unfair Advantages and Capital.","available":false,"fans":374,"link":"https:\/\/www.deezer.com\/show\/1259","share":"https:\/\/www.deezer.com\/show\/1259?utm_source=deezer&utm_content=show-1259&utm_term=0_1644414820&utm_medium=web","picture":"h[...]
