interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/artist/27
    response:
      body:
        string: '{"id":27,"name":"Daft Punk","link":"https:\/\/www.deezer.com\/artist\/27","share":"https:\/\/www.deezer.com\/artist\/27?utm_source=deezer&utm_content=artist-27&utm_term=0_1644414611&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/27\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/f2bc007e9133c946ac3c3907ddc5d2ea\/1000x1000-000000-80-0-0.jpg","nb_album":32,"nb_fan":4195107,"radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/27\/top?limit=50","type":"artist"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-150
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/artist/27/playlists
    response:
      body:
        string:
          '{"data":[{"id":1251125011,"title":"En mode 90","public":true,"link":"https:\/\/www.deezer.com\/playlist\/1251125011","picture":"https:\/\/api.deezer.com\/playlist\/1251125011\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/c6e520e06be1d02742c0b3e81aa3943f\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/c6e520e06be1d02742c0b3e81aa3943f\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/c6e520e06be1d02742c0b3e81aa3943f\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/playlist\/c6e520e06be1d02742c0b3e81aa3943f\/1000x1000-000000-80-0-0.jpg","checksum":"ba97ba5d9030ae50fa21d35fd79e248a","tracklist":"https:\/\/api.deezer.com\/playlist\/1251125011\/tracks","creation_date":"2015-05-28
          13:14:12","md5_image":"c6e520e06be1d02742c0b3e81aa3943f","picture_type":"playlist","user":{"id":1687950,"name":"Alexandre
          -Deezer Editeur France","tracklist":"https:\/\/api.deezer.com\/user\/1687950\/flow","type":"user"},"type":"playlist"},{"id":914651125,"title":"Chill
          & Relax \ud83c\udf34 Summer Electro chill music | Mix \u00e9t\u00e9 2021 |
          Lounge songs 2021 | Deep house summer songs | sons \u00e9t\u00e9 chill | Chillout
          ap\u00e9ro pos\u00e9 | Playlist piscine, plage, beach...","public":true,"link":"https:\/\/www.deezer.com\/playlist\/914651[...]
