interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/artist/27/albums
  response:
    body:
      string: '{"data":[{"id":8244118,"title":"Human After All (Remixes)","link":"https:\/\/www.deezer.com\/album\/8244118","cover":"https:\/\/api.deezer.com\/album\/8244118\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/f6a4dbf47cb8828c281ed4e63364f99e\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/f6a4dbf47cb8828c281ed4e63364f99e\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/f6a4dbf47cb8828c281ed4e63364f99e\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/f6a4dbf47cb8828c281ed4e63364f99e\/1000x1000-000000-80-0-0.jpg","md5_image":"f6a4dbf47cb8828c281ed4e63364f99e","genre_id":113,"fans":29723,"release_date":"2005-03-20","record_type":"album","tracklist":"https:\/\/api.deezer.com\/album\/8244118\/tracks","explicit_lyrics":false,"type":"album"},{"id":6575789,"title":"Random
        Access Memories","link":"https:\/\/www.deezer.com\/album\/6575789","cover":"https:\/\/api.deezer.com\/album\/6575789\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b298094528702627877720d0be4448b5\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b298094528702627877720d0be4448b5\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b2980945287026[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deezer.com/artist/27/albums?index=25
  response:
    body:
      string: '{"data":[{"id":303567,"title":"Technologic (Radio Edit)","link":"https:\/\/www.deezer.com\/album\/303567","cover":"https:\/\/api.deezer.com\/album\/303567\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/fd3b10e76c3ddea1b1db8d85fa09b9ba\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cove[...]
