interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/track/1425844092
    response:
      body:
        string:
          '{"id":1425844092,"readable":true,"title":"STAY","title_short":"STAY","title_version":"","isrc":"USSM12103949","link":"https:\/\/www.deezer.com\/track\/1425844092","share":"https:\/\/www.deezer.com\/track\/1425844092?utm_source=deezer&utm_content=track-1425844092&utm_term=0_1641252178&utm_medium=web","duration":141,"track_position":1,"disk_number":1,"rank":989040,"release_date":"2021-07-09","explicit_lyrics":true,"explicit_content_lyrics":1,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-f.dzcdn.net\/stream\/c-fd9572c7a11401267a6c5c3402254160-3.mp3","bpm":0,"gain":-7.8,"available_countries":["AE","AF","AG","AI","AL","AM","AO","AR","AT","AU","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BN","BO","BQ","BR","BT","BW","BY","CA","CD","CF","CG","CH","CI","CL","CM","CN","CO","CR","CU","CV","CW","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FR","GA","GB","GD","GE","GH","GM","GN","GQ","GR","GT","GW","HK","HN","HR","HU","ID","IE","IL","IN","IQ","IR","IS","IT","JM","JO","JP","KE","KG","KH","KI","KM","KN","KR","KW","KY","KZ","LA","LB","LC","LK","LR","LS","LT","LU","LV","LY","MA","MD","ME","MG","MH","MK","ML","MN","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NE","NG","NI","NL","NO","NP","NR","NZ","OM","PA","PE","PG","PH","PK","PL","PN","PS","PT","PW","PY","QA","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SI","SK","SL","SN","SO","SS","ST","SV","SX","SZ","TC","TD","TG","TH","TJ","TM","TN","TO","TR","TV","TW","TZ","UA","UG","US","UY","UZ","VC","VE","VG","VN","VU","WS","YE","ZA","ZM","ZW"],"contributors":[{"id":51204222,"name":"The
          Kid Laroi","link":"https:\/\/www.deezer.com\/artist\/51204222","share":"https:\/\/www.deezer.com\/artist\/51204222?utm_source=deezer&utm_content=artist-51204222&utm_term=0_1641252178&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/51204222\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/16a31a932ff763f936853e4592b2f5f7\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/16a31a932ff763f936853e4592b2f5f7\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/16a31a932ff763f936853e4592b2f5f7\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/16a31a932ff763f936853e4592b2f5f7\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/51204222\/top?limit=50","type":"artist","role":"Main"},{"id":288166,"name":"Justin
          Bieber","link":"https:\/\/www.deezer.com\/artist\/288166","share":"https:\/\/www.deezer.com\/artist\/288166?utm_source=deezer&utm_content=artist-288166&utm_term=0_1641252178&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/288166\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/22dd86b628a03d8dad3c7dfb33320a91\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/22dd86b628a03d8dad3c7dfb33320a91\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/22dd86b628a03d8dad3c7dfb33320a91\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/22dd86b628a03d8dad3c7dfb33320a91\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/288166\/top?limit=50","type":"artist","role":"Main"}],"md5_image":"dd6fe7fa9267185c4b835bd4f155d1d2","artist":{"id":51204222,"name":"The
          Kid Laroi","link":"https:\/\/www.deezer.com\/artist\/51204222","share":"https:\/\/www.deezer.com\/artist\/51204222?utm_source=deezer&utm_content=artist-51204222&utm_term=0_1641252178&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/51204222\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/16a31a932ff763f936853e4592b2f5f7\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/16a31a932ff763f936853e4592b2f5f7\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/16a31a932ff763f936853e4592b2f5f7\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/16a31a932ff763f936853e4592b2f5f7\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/51204222\/top?limit=50","type":"artist"},"album":{"id":242430582,"title":"STAY","link":"https:\/\/www.deezer.com\/album\/242430582","cover":"https:\/\/api.deezer.com\/album\/242430582\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/dd6fe7fa9267185c4b835bd4f155d1d2\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/dd6fe7fa9267185c4b835bd4f155d1d2\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/dd6fe7fa9267185c4b835bd4f155d1d2\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/dd6fe7fa9267185c4b835bd4f155d1d2\/1000x1000-000000-80-0-0.jpg","md5_image":"dd6fe7fa9267185c4b835bd4f155d1d2","release_date":"2021-07-09","tracklist":"https:\/\/api.deezer.com\/album\/242430582\/tracks","type":"album"},"type":"track"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-158
        x-org:
          - FR
      status:
        code: 200
        message: OK
version: 1
