interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/editorial/106
    response:
      body:
        string: '{"id":106,"name":"Electro","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/1000x1000-000000-80-0-0.jpg","type":"editorial"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-25
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/editorial/106/selection
    response:
      body:
        string:
          '{"data":[{"id":274760572,"title":"Terre Promise","cover":"https:\/\/api.deezer.com\/album\/274760572\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/34998929a20874b9dde27cbcc731e7a6\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/34998929a20874b9dde27cbcc731e7a6\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/34998929a20874b9dde27cbcc731e7a6\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/34998929a20874b9dde27cbcc731e7a6\/1000x1000-000000-80-0-0.jpg","md5_image":"34998929a20874b9dde27cbcc731e7a6","genre_id":106,"record_type":"album","tracklist":"https:\/\/api.deezer.com\/album\/274760572\/tracks","explicit_lyrics":false,"artist":{"id":2799791,"name":"Blutch","link":"https:\/\/www.deezer.com\/artist\/2799791","tracklist":"https:\/\/api.deezer.com\/artist\/2799791\/top?limit=50","type":"artist"},"type":"album"},{"id":286473712,"title":"CAPRISONGS","cover":"https:\/\/api.deezer.com\/album\/286473712\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/d68c5560e7e839491a10cfcb1a01925c\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/d68c5560e7e839491a10cfcb1a01925c\/250x250-000000-80-0-0.jpg","cove[...]
