interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/radio/23261
    response:
      body:
        string:
          '{"id":23261,"title":"Telegraph Classical","description":"Telegraph
          Classical","share":"https:\/\/www.deezer.com\/mixes\/genre\/23261?utm_source=deezer&utm_content=mixes-genre-23261&utm_term=0_1597840331&utm_medium=web","picture":"https:\/\/api.deezer.com\/radio\/23261\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/aad5b7e9ecd6e72e6171c9e65ddf150d\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/aad5b7e9ecd6e72e6171c9e65ddf150d\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/aad5b7e9ecd6e72e6171c9e65ddf150d\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/aad5b7e9ecd6e72e6171c9e65ddf150d\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/radio\/23261\/tracks","type":"radio"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-90
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/radio/23261/tracks
    response:
      body:
        string:
          '{"data":[{"id":3418716,"readable":true,"title":"Mozart: Piano Concerto
          No. 9 in E-Flat Major, K. 271 \"Jeunehomme\": I. Allegro","title_short":"Mozart:
          Piano Concerto No. 9 in E-Flat Major, K. 271 \"Jeunehomme\": I. Allegro","title_version":"","link":"https:\/\/www.deezer.com\/track\/3418716","duration":631,"rank":186897,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-7.dzcdn.net\/stream\/c-775a27500946eb7da8977a04064a903b-9.mp3","artist":{"id":5328579,"name":"Christoph
          Eschenbach\/London Philharmonic Orchestra","link":"https:\/\/www.deezer.com\/artist\/5328579","picture":"https:\/\/api.deezer.com\/artist\/5328579\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/5328579\/top?limit=50","type":"artist"},"album":{"id":324672,"title":"Mozart:
          Piano Concerto Nos. 9,19,21,23 & 27","cover":"https:\/\/api.deezer.com\/album\/324672\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/a6f177f64d43b586be3e2cd7a3f17a0e\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/a6f177f64d43b586be3e2cd7a3f17a0e\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/a6f177f64d43b586be3e2cd7a3f17a0e\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/a6f177f64d43b586be3e2cd7a3f17a0e\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/album\/324672\/tracks","type":"album"},"type":"track"},{"id":2071086,"readable":true,"title":"Water
          Music - Suite #1 In F, HWV 348 - Rigaudon 2","title_short":"Water Music -
          Suite #1 In F, HWV 348 - Rigaudon 2","title_version":"","link":"https:\/\/www.deezer.com\/track\/2071086","duration":84,"rank":220902,"explicit_lyrics":f[...]
