interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/podcast/699612
    response:
      body:
        string:
          '{"id":699612,"title":"The Missing Cryptoqueen","description":"Dr Ruja
          Ignatova persuaded millions to join her financial revolution. Then she disappeared.
          Why? Jamie Bartlett presents a story of greed, deceit and herd madness.","available":true,"fans":273,"link":"https:\/\/www.deezer.com\/show\/699612","share":"https:\/\/www.deezer.com\/show\/699612?utm_source=deezer&utm_content=show-699612&utm_term=0_1641767111&utm_medium=web","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/34df19abb7d60668cf967d1d866943b3\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/34df19abb7d60668cf967d1d866943b3\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/34df19abb7d60668cf967d1d866943b3\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/34df19abb7d60668cf967d1d866943b3\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/34df19abb7d60668cf967d1d866943b3\/1000x1000-000000-80-0-0.jpg","type":"podcast"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-137
        x-org:
          - FR
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/podcast/699612/episodes
    response:
      body:
        string:
          '{"data":[{"id":238455362,"title":"Episode 9: Follow the money","release_date":"2020-08-06
          09:00:00","duration":2747,"picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/34df19abb7d60668cf967d1d866943b3\/180x180-000000-80-0-0.jpg","type":"episode"},{"id":236605992,"title":"A
          message for listeners","release_date":"2020-07-29 09:00:00","duration":95,"picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/34df19abb7d60668cf967d1d866943b3\/180x180-000000-80-0-0.jpg","type":"episode"},{"id":67288732,"title":"Episode
          8:  The technology and the dream","release_date":"2019-11-04 19:[...]
