interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/playlist/9200461/tracks
    response:
      body:
        string:
          '{"data":[{"id":685405,"readable":true,"title":"Otherwise","title_short":"Otherwise","title_version":"","link":"https:\/\/www.deezer.com\/track\/685405","duration":222,"rank":592325,"explicit_lyrics":false,"explicit_content_lyrics":6,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-c.dzcdn.net\/stream\/c-c4c92ad7ea91ef6561083445c2b476d8-7.mp3","md5_image":"bdabbfcfb9533c3f03cdaa8ff963917b","time_add":0,"artist":{"id":901,"name":"Morcheeba","link":"https:\/\/www.deezer.com\/artist\/901","picture":"https:\/\/api.deezer.com\/artist\/901\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/190c679b4e5d665339e8f60857917a6f\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/190c679b4e5d665339e8f60857917a6f\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/190c679b4e5d665339e8f60857917a6f\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/190c679b4e5d665339e8f60857917a6f\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/artist\/901\/top?limit=50","type":"artist"},"album":{"id":82698,"title":"Charango","cover":"https:\/\/api.deezer.com\/album\/82698\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/bdabbfcfb9533c3f03cdaa8ff963917b\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/bdabbfcfb9533c3f03cdaa8ff963917b\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/bdabbfcfb9533c3f03cdaa8ff963917b\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/bdabbfcfb9533c3f03cdaa8ff963917b\/1000x1000-000000-80-0-0.jpg","md5_image":"bdabbfcfb9533c3f03cdaa8ff963917b","tracklist":"https:\/\/api.deezer.com\/album\/82698\/tracks","type":"album"},"type":"track"},{"id":784884,"readable":true,"title":"Rome
          Wasn''t Built in a Day","title_short":"Rome Wasn''t Built in a Day","title_version":"","link":"https:\/\/www.deezer.com\/track\/784884","duration":214,"rank":300062,"explicit_lyrics":false,"exp[...]
