interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/episode/343457312
    response:
      body:
        string:
          '{"id":343457312,"title":"Stuart Hogg and the GOAT","description":"There
          are big questions to ponder on this week''s pod; who hacked Chris'' Twitter
          account? Was England''s victory over South Africa the best of Eddie Jones''
          reign? And has New Zealand''s aura been vaporised? Danny, Ugo and Chris also
          chat to Scotland captain Stuart Hogg about his new teeth, breaking the try
          record and the importance of Chris Harris both on and off the pitch. They
          also look to the Six Nations with the northern hemisphere teams ending the
          autumn on a high.","available":true,"release_date":"2021-11-22 23:42:00","duration":3254,"link":"https:\/\/www.deezer.com\/episode\/343457312","share":"https:\/\/www.deezer.com\/episode\/343457312?utm_source=deezer&utm_content=episode-343457312&utm_term=0_1658864197&utm_medium=web","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f2a011a6e87bd793c8e77240ab36dfaa\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f2a011a6e87bd793c8e77240ab36dfaa\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f2a011a6e87bd793c8e77240ab36dfaa\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f2a011a6e87bd793c8e77240ab36dfaa\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f2a011a6e87bd793c8e77240ab36dfaa\/1000x1000-000000-80-0-0.jpg","podcast":{"id":700072,"title":"Rugby
          Union Weekly","link":"https:\/\/www.deezer.com\/show\/700072","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f2a011a6e87bd793c8e77240ab36dfaa\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f2a011a6e87bd793c8e77240ab36dfaa\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f2a011a6e87bd793c8e77240ab36dfaa\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f2a011a6e87bd793c8e77240ab36dfaa\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/talk\/f2a011a6e87bd793c8e77240ab36dfaa\/1000x1000-000000-80-0-0.jpg","type":"podcast"},"type":"episode"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-11
        x-org:
          - FR
      status:
        code: 200
        message: OK
version: 1
