interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/user/359622
    response:
      body:
        string: '{"id":359622,"name":"Bruno Alla","link":"https:\/\/www.deezer.com\/profile\/359622","picture":"https:\/\/api.deezer.com\/user\/359622\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/d4bb710fd346218d4dbb5e1a08ffde93\/1000x1000-000000-80-0-0.jpg","country":"GB","tracklist":"https:\/\/api.deezer.com\/user\/359622\/flow","type":"user"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-60
        x-org:
          - FR
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/user/359622/tracks
    response:
      body:
        string:
          '{"data":[{"id":3834127,"readable":true,"title":"Poney Pt. I","link":"https:\/\/www.deezer.com\/track\/3834127","duration":323,"rank":623625,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"md5_image":"c35a9579e79da78be284094d5cca571b","time_add":1633802089,"album":{"id":357404,"title":"OK
          Cowboy","cover":"https:\/\/api.deezer.com\/album\/357404\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/c35a9579e79da78be284094d5cca571b\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/c35a9579e79da78be284094d5cca571b\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/c35a9579e79da78be284094d5cca571b\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/c35a9579e79da78be284094d5cca571b\/1000x1000-000000-80-0-0.jpg","md5_image":"c35a9579e79da78be284094d5cca571b","tracklist":"https:\/\/api.deezer.com\/album\/357404\/tracks","type":"album"},"artist":{"id":641,"name":"Vitalic","picture":"https:\/\/api.deezer.com\/artist\/641\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5e970ce2f5c52fe2b036f088eb4a7bef\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5e970ce2f5c52fe2b036f088eb4a7bef\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/5e970ce2f5c52fe2b036f088eb4a7bef\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-i[...]
