interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/playlist/11336462844?access_token=dummy
    response:
      body:
        string:
          '{"id":11336462844,"title":"test","description":"","duration":678,"public":true,"is_loved_track":false,"collaborative":false,"nb_tracks":3,"fans":0,"link":"https:\/\/www.deezer.com\/playlist\/11336462844","share":"https:\/\/www.deezer.com\/playlist\/11336462844?utm_source=deezer&utm_content=playlist-11336462844&utm_term=1705809182_1683127438&utm_medium=web","picture":"https:\/\/api.deezer.com\/playlist\/11336462844\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b1d763da698c38bde6a526c8220ca0ea\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b1d763da698c38bde6a526c8220ca0ea\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b1d763da698c38bde6a526c8220ca0ea\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b1d763da698c38bde6a526c8220ca0ea\/1000x1000-000000-80-0-0.jpg","checksum":"04c7ff5a656db191efe1840646cc6b86","tracklist":"https:\/\/api.deezer.com\/playlist\/11336462844\/tracks","creation_date":"2023-05-03
          17:16:03","md5_image":"b1d763da698c38bde6a526c8220ca0ea","picture_type":"cover","creator":{"id":1705809182,"name":"banjon","tracklist":"https:\/\/api.deezer.com\/user\/1705809182\/flow","type":"user"},"type":"playlist","tracks":{"data":[{"id":79875044,"readable":true,"title":"One","title_short":"One","title_version":"","link":"https:\/\/www.deezer.com\/track\/79875044","duration":252,"rank":649457,"explicit_lyrics":false,"explicit_content_lyrics":6,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-0.dzcdn.net\/stream\/c-0bdae776146b9ce87530bae1b0af4b9b-4.mp3","md5_image":"b1d763da698c38bde6a526c8220ca0ea","time_add":1683127104,"artist":{"id":384236,"name":"Ed
          Sheeran","link":"https:\/\/www.deezer.com\/artist\/384236","tracklist":"https:\/\/api.deezer.com\/artist\/384236\/top?limit=50","type":"artist"},"album":{"id":7964062,"title":"x
          (Deluxe Edition)","cover":"https:\/\/api.deezer.com\/album\/7964062\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b1d763da698c38bde6a526c8220ca0ea\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b1d763da698c38bde6a526c8220ca0ea\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b1d763da698c38bde6a526c8220ca0ea\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/b1d763da698c38bde6a526c8220ca0ea\/1000x1000-000000-80-0-0.jpg","md5_image":"b1d763da698c38bde6a526c8220ca0ea","tracklist":"https:\/\/api.deezer.com\/album\/7964062\/tracks","type":"album"},"type":"track"},{"id":142986210,"readable":true,"title":"Happier","title_short":"Happier","title_version":"","link":"https:\/\/www.deezer.com\/track\/142986210","duration":207,"rank":850529,"explicit_lyrics":false,"explicit_content_lyrics":6,"explicit_content_[...]
  - request:
      body: null
      headers:
      method: POST
      uri: https://api.deezer.com/playlist/11336462844/tracks?access_token=dummy&order=79875044%2C79875050%2C142986210
    response:
      body:
        string: "true"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-157
        x-org:
          - FR
      status:
        code: 200
        message: OK
version: 1
