interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/editorial/106
    response:
      body:
        string: '{"id":106,"name":"Electro","picture":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/180x180-000000-80-0-0.jpg","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/misc\/15df4502c1c58137dae5bdd1cc6f0251\/1000x1000-000000-80-0-0.jpg","type":"editorial"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-88
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/editorial/106/charts
    response:
      body:
        string:
          '{"tracks":{"data":[{"id":1372169352,"title":"Never Going Home","title_short":"Never
          Going Home","title_version":"","link":"https:\/\/www.deezer.com\/track\/1372169352","duration":169,"rank":971658,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-a.dzcdn.net\/stream\/c-a95a14761a6cfaad74fed7c3ce1a49db-14.mp3","md5_image":"552d4b14030ff623aa13567f27705b68","position":1,"artist":{"id":5992092,"name":"Kungs","link":"https:\/\/www.deezer.com\/artist\/5992092","picture":"https:\/\/api.deezer.com\/artist\/5992092\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/eb2c688228e2702844904ac7a23e9a60\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/eb2c688228e2702844904ac7a23e9a60\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/eb2c688228e2702844904ac7a23e9a60\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/eb2c688228e2702844904ac7a23e9a60\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/5992092\/top?limit=50","type":"artist"},"album":{"id":230124382,"title":"Never
          Going Home","cover":"https:\/\/api.deezer.com\/album\/230124382\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/552d4b14030ff623aa13567f27705b68\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/552d4b14030ff623aa13567f27705b68\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/552d4b14030ff623aa13567f27705b68\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/552d4b14030ff623aa13567f27705b68\/1000x1000-000000-80-0-0.jpg","md5_image":"552d4b14030ff623aa13567f27705b68","tracklist":"https:\/\/api.deezer.com\/album\/230124382\/tracks","type":"album"},"type":"track"},{"id":1359861952,"title":"Ani
          Kuni","title_short":"Ani Kuni","title_version":"","link":"https:\/\/www.deezer.com\/track\/1359861952","duration":276,"rank":977571,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_[...]
