interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/playlist/9200461?access_token=dummy
    response:
      body:
        string:
          '{"id":9200461,"title":"Lounge Soir\u00e9e","description":"","duration":22928,"public":true,"is_loved_track":false,"collaborative":false,"nb_tracks":102,"fans":9401,"link":"https:\/\/www.deezer.com\/playlist\/9200461","share":"https:\/\/www.deezer.com\/playlist\/9200461?utm_source=deezer&utm_content=playlist-9200461&utm_term=0_1683624196&utm_medium=web","picture":"https:\/\/api.deezer.com\/playlist\/9200461\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/bdabbfcfb9533c3f03cdaa8ff963917b-f8a3145e31b1ef65b118325d5585a242-eb22fba111d89da93bfa9aed37453334-17d23901bb01a671224836c925465c04\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/bdabbfcfb9533c3f03cdaa8ff963917b-f8a3145e31b1ef65b118325d5585a242-eb22fba111d89da93bfa9aed37453334-17d23901bb01a671224836c925465c04\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/bdabbfcfb9533c3f03cdaa8ff963917b-f8a3145e31b1ef65b118325d5585a242-eb22fba111d89da93bfa9aed37453334-17d23901bb01a671224836c925465c04\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/bdabbfcfb9533c3f03cdaa8ff963917b-f8a3145e31b1ef65b118325d5585a242-eb22fba111d89da93bfa9aed37453334-17d23901bb01a671224836c925465c04\/1000x1000-000000-80-0-0.jpg","checksum":"4b5cf900832a2a6732f2413a6f32821e","tracklist":"https:\/\/api.deezer.com\/playlist\/9200461\/tracks","creation_date":"2013-11-06
          17:00:00","md5_image":"bdabbfcfb9533c3f03cdaa8ff963917b-f8a3145e31b1ef65b118325d5585a242-eb22fba111d89da93bfa9aed37453334-17d23901bb01a671224836c925465c04","picture_type":"cover","creator":{"id":1006326,"name":"artusamak","tracklist":"https:\/\/api.deezer.com\/user\/1006326\/flow","type":"user"},"type":"playlist","tracks":{"data":[{"id":685405,"readable":true,"title":"Otherwise","title_short":"Otherwise","title_version":"","link":"https:\/\/www.deezer.com\/track\/685405","duration":222,"rank":647704,"explicit_lyrics":false,"explicit_content_lyrics":6,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-c.dzcdn.net\/stream\/c-c4c92ad7ea91ef6561083445c2b476d8-7.mp3","md5_image":"bdabbfcfb9533c3f03cdaa8ff963917b","time_add":0,"artist":{"id":901,"name":"Morcheeba","link":"https:\/\/www.deezer.com\/artist\/901","tracklist":"https:\/\/api.deezer.com\/artist\/901\/top?limit=50","type":"artist"},"album":{"id":82698,"title":"Charango","cover":"https:\/\/api.deezer.com\/album\/82698\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/bdabbfcfb9533c3f03cdaa8ff963917b\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/bdabbfcfb9533c3f03cdaa8ff963917b\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/bdabbfcfb9533c3f03cdaa8ff963917b\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/bdabbfcfb9533c3f03cdaa8ff963917b\/1000x1000-000000-80-0-0.jpg","md5_image":"bdabbfcfb9533c3f03cdaa8ff963917b","tracklist":"https:\/\/api.deezer.com\/album\/82698\/tracks","type":"album"},"type":"track"},{"id":784884,"readable":true,"title":"Rome
          Wasn''t Built in a Day","title_short":"Rome Wasn''t Built in a Day","title_version":"","link":"https:\/\/www.deezer.com\/track\/784884","duration":214,"rank":328742,"explicit_lyrics":false,"exp[...]
  - request:
      body: null
      headers:
      method: POST
      uri: https://api.deezer.com/playlist/9200461/seen?access_token=dummy
    response:
      body:
        string: "true"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-66
        x-org:
          - FR
      status:
        code: 200
        message: OK
version: 1
