interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/playlist/11015569602?access_token=dummy
    response:
      body:
        string:
          '{"id":11015569602,"title":"Yellow Vibe","description":"","duration":12536,"public":true,"is_loved_track":false,"collaborative":false,"nb_tracks":53,"fans":0,"link":"https:\/\/www.deezer.com\/playlist\/11015569602","share":"https:\/\/www.deezer.com\/playlist\/11015569602?utm_source=deezer&utm_content=playlist-11015569602&utm_term=1705809182_1683386797&utm_medium=web","picture":"https:\/\/api.deezer.com\/playlist\/11015569602\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1ba600bc6d3b0845f51285d27e89f7c9-c86f870a3ea8782da239a9dd10315cdc-f17968a0b575953e0891053429a7851d-4737595806b6c813e004e6184c1f0960\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1ba600bc6d3b0845f51285d27e89f7c9-c86f870a3ea8782da239a9dd10315cdc-f17968a0b575953e0891053429a7851d-4737595806b6c813e004e6184c1f0960\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1ba600bc6d3b0845f51285d27e89f7c9-c86f870a3ea8782da239a9dd10315cdc-f17968a0b575953e0891053429a7851d-4737595806b6c813e004e6184c1f0960\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1ba600bc6d3b0845f51285d27e89f7c9-c86f870a3ea8782da239a9dd10315cdc-f17968a0b575953e0891053429a7851d-4737595806b6c813e004e6184c1f0960\/1000x1000-000000-80-0-0.jpg","checksum":"3616d130037b295df88b8a5563055490","tracklist":"https:\/\/api.deezer.com\/playlist\/11015569602\/tracks","creation_date":"2023-01-03
          18:23:17","md5_image":"1ba600bc6d3b0845f51285d27e89f7c9-c86f870a3ea8782da239a9dd10315cdc-f17968a0b575953e0891053429a7851d-4737595806b6c813e004e6184c1f0960","picture_type":"cover","creator":{"id":1705809182,"name":"banjon","tracklist":"https:\/\/api.deezer.com\/user\/1705809182\/flow","type":"user"},"type":"playlist","tracks":{"data":[{"id":1667097392,"readable":true,"title":"hjem
          fra fabrikken","title_short":"hjem fra fabrikken","title_version":"","link":"https:\/\/www.deezer.com\/track\/1667097392","duration":208,"rank":460335,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-4.dzcdn.net\/stream\/c-4fe1e2a83be2ad3ae89d0ec9a5590381-4.mp3","md5_image":"1ba600bc6d3b0845f51285d27e89f7c9","time_add":1672766597,"artist":{"id":4091600,"name":"andreas
          odbjerg","link":"https:\/\/www.deezer.com\/artist\/4091600","tracklist":"https:\/\/api.deezer.com\/artist\/4091600\/top?limit=50","type":"artist"},"album":{"id":298467182,"title":"hjem
          fra fabrikken","cover":"https:\/\/api.deezer.com\/album\/298467182\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1ba600bc6d3b0845f51285d27e89f7c9\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1ba600bc6d3b0845f51285d27e89f7c9\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1ba600bc6d3b0845f51285d27e89f7c9\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/1ba600bc6d3b0845f51285d27e89f7c9\/1000x1000-000000-80-0-0.jpg","md5_image":"1ba600bc6d3b0845f51285d27e89f7c9","tracklist":"https:\/\/api.deezer.com\/album\/298467182\/tracks","type":"album"},"type":"track"},{"id":1764283667,"readable":true,"title":"I
          Ain''t Worried","title_short":"I Ain''t Worried","title_version":"","link":"https:\/\/www.deezer.com\/track\/1764283667","duration":148,"rank":993048,"explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":0,"preview":"https:\/\/cdns-preview-7.dzcdn.net\/stream\/c-7d22783a305a9d2397d7bcbf3e7cb5a3-4.mp3","md5_image":"c86f870a3ea8782da239a9dd10315cdc","time_add":1672766597,"artist":{"id":74398,"name":"OneRepublic","link":"https:\/\/www.deezer.com\/artist\/74398","tracklist":"https:\/\/api.deezer.com\/artist\/74398\/top?limit=50","type":"artist"},"album":{"id":321440247,"title":"Top
          Gun: Maverick (Music From The Motion Picture)","cover":"https:\/\/api.deezer.com\/album\/321440247\/image","cover_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/c86f870a3ea8782da239a9dd10315cdc\/56x56-000000-80-0-0.jpg","cover_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/c86f870a3ea8782da239a9dd10315cdc\/250x250-000000-80-0-0.jpg","cover_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/cover\/c86f870a3ea8782da239a9dd10315cdc\/500x500-000000-80-0-0.jpg","cover_xl":"https:\/\/[...]
  - request:
      body: null
      headers:
      method: POST
      uri: https://api.deezer.com/playlist/11015569602/tracks?access_token=dummy&songs=79875054
    response:
      body:
        string: "true"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-184
        x-org:
          - FR
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: POST
      uri: https://api.deezer.com/playlist/11015569602/tracks?access_token=dummy&songs=79875064%2C79875044%2C142986210
    response:
      body:
        string: "true"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-137
        x-org:
          - FR
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/track/1724605597?access_token=dummy
    response:
      body:
        string: '{"id":1724605597,"readable":true,"title":"Ping!","title_short":"Ping!","title_version":"","isrc":"GBSMU7385741","link":"https:\/\/www.deezer.com\/track\/1724605597","share":"https:\/\/www.deezer.com\/track\/1724605597?utm_source=deezer&utm_content=track-1724605597&utm_term=1705809182_1683386798&utm_medium=web","duration":162,"track_position":1,"disk_number":1,"rank":299605,"release_date":"2019-06-28","explicit_lyrics":false,"explicit_content_lyrics":0,"explicit_content_cover":2,"preview":"https:\/\/cdns-preview-f.dzcdn.net\/stream\/c-fb1960bacb219f1a3bc94c74e68b9ea4-3.mp3","bpm":0,"gain":-6.9,"available_countries":["AE","AF","AG","AI","AL","AM","AO","AQ","AR","AS","AT","AU","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BN","BO","BQ","BR","BT","BV","BW","BY","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CU","CV","CW","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FR","GA","GB","GD","GE","GH","GM","GN","GQ","GR","GS","GT","GU","GW","HK","HM","HN","HR","HU","ID","IE","IL","IN","IO","IQ","IR","IS","IT","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LK","LR","LS","LT","LU","LV","LY","MA","MD","ME","MG","MH","MK","ML","MM","MN","MP","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PG","PH","PK","PL","PN","PS","PT","PW","PY","QA","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SI","SJ","SK","SL","SN","SO","SS","ST","SV","SX","SY","SZ","TC","TD","TG","TH","TJ","TK","TL","TM","TN","TO","TR","TV","TW","TZ","UA","UG","UM","US","UY","UZ","VC","VE","VG","VI","VN","VU","WS","YE","ZA","ZM","ZW"],"contributors":[{"id":15333913,"name":"Exyl","link":"https:\/\/www.deezer.com\/artist\/15333913","share":"https:\/\/www.deezer.com\/artist\/15333913?utm_source=deezer&utm_content=artist-15333913&utm_term=1705809182_1683386798&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/15333913\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/ca4126eae0346dac077e43672470f4e6\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/ca4126eae0346dac077e43672470f4e6\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/ca4126eae0346dac077e43672470f4e6\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/ca4126eae0346dac077e43672470f4e6\/1000x1000-000000-80-0-0.jpg","radio":true,"tracklist":"https:\/\/api.deezer.com\/artist\/15333913\/top?limit=50","type":"artist","role":"Main"}],"md5_image":"349581db8ed9c1c7edc8d79c30490bdf","artist":{"id":15333913,"name":"Exyl","link":"https:\/\/www.deezer.com\/artist\/15333913","share":"https:\/\/www.deezer.com\/artist\/15333913?utm_source=deezer&utm_content=artist-15333913&utm_term=1705809182_1683386798&utm_medium=web","picture":"https:\/\/api.deezer.com\/artist\/15333913\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/artist\/ca4126eae0346dac077e43672470f4e6\/56x56-000000-80-0-0.jpg","picture_medium":"ht[...]
  - request:
      body: null
      headers:
      method: POST
      uri: https://api.deezer.com/playlist/11015569602/tracks?access_token=dummy&songs=1724605597
    response:
      body:
        string: "true"
      headers:
        Content-Type:
          - application/json; charset=utf-8
        X-Host:
          - blm-web-166
        x-org:
          - FR
      status:
        code: 200
        message: OK
version: 1
