interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://api.deezer.com/playlist/9200461/fans
    response:
      body:
        string: '{"data":[{"id":134,"name":"Fay22","link":"https:\/\/www.deezer.com\/profile\/134","picture":"https:\/\/api.deezer.com\/user\/134\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/dc12f1bc85af4993e2a1fc92c2c1e878\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/dc12f1bc85af4993e2a1fc92c2c1e878\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/dc12f1bc85af4993e2a1fc92c2c1e878\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/dc12f1bc85af4993e2a1fc92c2c1e878\/1000x1000-000000-80-0-0.jpg","tracklist":"https:\/\/api.deezer.com\/user\/134\/flow","type":"user"},{"id":2672,"name":"Anonymous","link":"https:\/\/www.deezer.com\/profile\/2672","picture":"https:\/\/api.deezer.com\/user\/2672\/image","picture_small":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/56x56-000000-80-0-0.jpg","picture_medium":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/250x250-000000-80-0-0.jpg","picture_big":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/500x500-000000-80-0-0.jpg","picture_xl":"https:\/\/e-cdns-images.dzcdn.net\/images\/user\/\/1000x1000-[...]
