name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.6
          - 3.7
          - 3.8
          - 3.9
          - 3.10-dev
        os:
          - ubuntu-latest
          - windows-latest
          # - macOS-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: abatilo/actions-poetry@v2.1.2
    - name: Install Dependencies
      run: |
        poetry config experimental.new-installer false
        poetry install -v -E tornado
    - name: Test with Pytest
      run: poetry run pytest --cov-report=xml
    - name: Upload coverage report
      uses: codecov/codecov-action@v2.0.2

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.7  # Should match version in .readthedocs.yml
    - uses: abatilo/actions-poetry@v2.1.2
    - name: Install Dependencies
      run: poetry install -E docs
    - name: Build docs
      working-directory: docs
      run: poetry run make html

  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v4.1.1

  lint:
    strategy:
      fail-fast: false
      matrix:
        linter:
          - name: Flake8
            run: flake8
          - name: Black
            run: black --check .
          - name: PyUpgrade
            run: pyupgrade --py36-plus `find . -name "*.py"`
          - name: Bandit
            run: bandit -r deezer
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - uses: abatilo/actions-poetry@v2.1.2
    - name: Install Dependencies
      run: poetry install
    - name: ${{ matrix.linter.name }}
      run: poetry run ${{ matrix.linter.run }}

  release:
    runs-on: ubuntu-latest
    environment: release
    if: github.ref == 'refs/heads/main'
    needs:
      - test
      - docs
      - lint
      - commitlint

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # Run semantic release:
      # - Update CHANGELOG.md
      # - Update version in code
      # - Create git tag
      # - Create Github release
      # - Publish to PyPI
      - name: Python Semantic Release
        uses: relekang/python-semantic-release@v7.19.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pypi_token: ${{ secrets.PYPI_TOKEN }}
