name: CI

on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.5
          - 3.6
          - 3.7
          - 3.8
        os:
          - ubuntu-latest
          - windows-latest
          # - macOS-latest

    steps:
    - uses: actions/checkout@v2.3.3
    - name: Set up Python
      uses: actions/setup-python@v2.1.3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install tornado requests
    - name: Test with Pytest
      run: pytest
    - name: Upload coverage report
      uses: codecov/codecov-action@v1.0.13

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.3
    - name: Set up Python
      uses: actions/setup-python@v2.1.3
      with:
        python-version: 3.7  # Should match version in .readthedocs.yml
    - name: Install Dependencies
      run: |
        python -m pip install -U pip
        pip install -r docs/requirements.txt
    - name: Build docs
      run: |
        cd docs
        make html

  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v2.1.0

  lint:
    strategy:
      fail-fast: false
      matrix:
        linter:
          - name: Flake8
            run: flake8 --config=setup.cfg
          - name: Black
            run: black --check .
          - name: PyUpgrade
            run: pyupgrade --py3-plus `find . -name "*.py"`
          - name: Bandit
            run: bandit -r deezer
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.3
    - name: Set up Python
      uses: actions/setup-python@v2.1.3
      with:
        python-version: 3.8
    - name: Install Dependencies
      run: |
        python -m pip install -U pip
        pip install -r requirements.txt
        pip install tornado requests
    - name: ${{ matrix.linter.name }}
      run: |
        ${{ matrix.linter.run }}
